@font-face {
  font-family: 'BlissPro-ExtraLight';
  src: url('/upload/fonts/BlissPro-ExtraLight.eot?#iefix') format('embedded-opentype'),  
  url('/upload/fonts/BlissPro-ExtraLight.otf')  format('opentype'),
  url('/upload/fonts/BlissPro-ExtraLight.woff') format('woff'), 
  url('/upload/fonts/BlissPro-ExtraLight.ttf')  format('truetype'), 
  url('/upload/fonts/BlissPro-ExtraLight.svg#BlissPro-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BlissPro-Medium';
  src: url('/upload/fonts/BlissPro-Medium.eot?#iefix') format('embedded-opentype'),  
  url('/upload/fonts/BlissPro-Medium.otf')  format('opentype'),
  url('/upload/fonts/BlissPro-Medium.woff') format('woff'), 
  url('/upload/fonts/BlissPro-Medium.ttf')  format('truetype'), 
  url('/upload/fonts/BlissPro-Medium.svg#BlissPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html, body {
  padding: 0;
  margin: 0;
  position: relative;
}
body {
  font-family: 'BlissPro-ExtraLight';
  background: #efefef;
}
.row-fluid {
  width: 100%;
}
.row-fluid:before, .row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.container  {
  width: 1239px;
  margin: 0 auto;
  min-height: 1200px;
  background: #fff;
}
img{
  max-width: 100%;
}
.header{
  min-height: 100px;
  background: #fff;
  width: 100%;
  padding: 10px 0;
}
.header_left{
  float: left;
  margin-left: 60px;
}
.logo a{
  display: inline-block;
}
.header_right{
  float: right;
  margin-right: 60px;
}
.header_right .phone{
  margin: 35px 0 0;
}
.header_right .phone p{
  font-size: 29px;
  line-height: 29px;
  color: #000000;
}
.block_img{
  background: url('/upload/img/about.jpg') no-repeat 0 0;
  width: 100%;
  height: 491px;
}
.block_img_services, .block_img_documents{
  background: url('/upload/img/services.jpg') no-repeat 0 0;
  width: 100%;
  height: 491px;
}
.block_img_partners{
  background: url('/upload/img/funds.jpg') no-repeat 0 0;
  width: 100%;
  height: 491px;
}
.block_img_contact{
  background: url('/upload/img/contacts.jpg') no-repeat 0 0;
  width: 100%;
  height: 491px;
}
.block_img h2, .block_img_services h2, .block_img_documents h2, .block_img_partners h2, .block_img_contact h2 {
  color: #fff;
  width: 575px;
  font-size: 90px;
  line-height: 75px;
  font-weight: normal;
  margin:0 0 0 60px;
  padding-top: 40px;
}
.block_img_partners h2{
  width: 745px;
}
.main_menu ul{
  text-align: center;
  overflow: hidden;
  background: #1d3d58;
  white-space: nowrap;
}
.main_menu ul li{
  /*width: 25%;*/
  width: 20%;
  list-style: none;
  float: left;
  background: #1d3d58;
}

.main_menu ul li a{
  font-family: 'BlissPro-Medium';
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  background: #1d3d58;
  /*padding: 19px 109px;*/
  padding: 19px 0;
  display: block;
  text-decoration: none;
}
/*For Google Chrome 22-28 (and Opera 14-15)*/
@media screen and(-webkit-min-device-pixel-ratio:0) {
  .main_menu ul li a{
    padding: 19px 108.4px;
  }
}
/*For Google Chrome 28-39 (and Opera 14+) */
@supports (-webkit-appearance:none) {
  _::cue-region, .selector { 
    .main_menu ul li a{
      padding: 19px 108.4px;
    }
  } 
}
.main_menu ul li.active a{
  background: #30917c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.main_menu ul li.active a {
  cursor: default;
}
.main_menu ul li a:hover{
  background: #1f7e69;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
/*.main_menu ul li:last-child a{
  padding: 19px 110px 19px 110.48px;
}
@-moz-document url-p/uploadfix(){ 
  .main_menu ul li:last-child a{
    padding: 19px 110px 19px 110.45px;
  }
}*/
.block_desc{
  overflow: hidden;
  margin: 80px 0 0;
}
.block_desc_left{
  float: left;
  width: 42%;
  margin-left: 60px;
}
.block_desc_left h4, .block_desc_right h4,  .block_desc h4 {
  font-family: 'BlissPro-Medium';
  font-size:20px;
  line-height: 20px;
  margin: 0 0 20px;
  font-weight: normal;
}
.block_desc_left p, .block_desc_right p{
  font-size: 18px;
}
.block_desc_right{
  margin-right: 60px;
  float: right;
  width: 42%;
}
.block_folder{
  overflow: hidden;
}
.block_folder ul{
  margin: 115px 0 0 145px;
}
.block_folder ul li {
  background: url('/upload/img/folder.png') no-repeat 0 0;
  list-style: none;
  display: inline-block;
  width: 30%;
  height: 435px;
  margin-right: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.block_folder ul li:hover{
  background: url('/upload/img/folderh.png') no-repeat 0 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.block_folder ul li:last-child{
  margin-right: 0;
}
.block_folder ul li a{
  font-family: 'BlissPro-Medium';
  font-size:20px;
  line-height: 20px;
  color: #000;
  display: block;
  padding: 0 0 0 90px;
  line-height: 300px;
  text-decoration: none;
}
.our_partner{
  text-align: center;
}
.our_partner a{
  font-family: 'BlissPro-Medium';
  font-size:20px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  border: 2px solid #1d3d58;
  padding: 13px 55px;
  text-decoration: none;
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.our_partner a:hover{
  color: #fff;
  background: #30917c;
  border: 2px solid #30917c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.block_desc_logo{
  overflow: hidden;
  margin: 0px 0 0;
}
.block_logo{
  overflow: hidden;
  border-bottom: 1px solid #bebebe;
  margin: 0 60px;
  padding:70px 0;
}
.block_logo_last{
  border-bottom: 0px solid #bebebe;
  padding-bottom: 0;
}
.blr{
  padding: 0 0px 0 65px;
  overflow: hidden;
}
.blr h2 {
    text-align: center;
    margin-bottom: 50px;
}
.block_logo_left img {
  margin-top: 0;
}
.block_logo_right {
  width: 500px;
}
.block_logo_left{
  float: left;
}
/*.block_logo_left img{
  margin-top: 30px;
}*/
.block_logo_right{
  float: right;
}
.block_logo_right ul{
  list-style: none;
  width: 95%;
}
.block_logo_right ul li{
  background: url('/upload/img/marker.png') no-repeat 0 8px;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  max-width: 550px;
}






.footer{
  margin-top:115px;
  background: #30917c;
  width: 100%;
  height: 410px;
}
.footer_in{
  margin-top: 0;
}
.block_footer{
  text-align: center;
}


.fmap {
  background: url('/upload/img/f_map.png') no-repeat 0 0;
  height:120px;
  float: left;
  margin: 115px 0 0 50px;
}
.fmap .fmap_desc{
  margin: 10px 0 0 117px;
  text-align: left;
}
.fmap .fmap_desc p {
  padding: 0;
  font-family: 'BlissPro-ExtraLight';
  font-size: 18px;
  color: #fff;
}

.fphone {
  background: url('/upload/img/f_phone.png') no-repeat 0 0;
  height:120px;
  float: left;
  margin: 115px 0 0 90px;
}
.fphone .fphone_desc{
  margin: 10px 0 0 110px;
  text-align: left;
}
.fphone .fphone_desc p {
  padding: 0;
  font-family: 'BlissPro-ExtraLight';
  font-size: 18px;
  color: #fff;
  /*margin: 40px 0 0 30px;*/
  margin: 10px 0 0 30px;
}

.femail {
  background: url('/upload/img/f_email.png') no-repeat 0 10px;
  height:120px;
  float: left;
  margin: 115px 0 0 90px;
}
.femail .femail_desc{
  margin: 10px 0 0 150px;
  text-align: left;
}
.femail .femail_desc p {
  padding: 0;
  font-family: 'BlissPro-ExtraLight';
  font-size: 17px;
  color: #fff;
    margin: -10px 0 27px 0;
}







.f_logo{
  margin: 50px auto 0;
  width: 100%;
  float: left;
}





.block_services{
  padding: 75px 50px 0 50px;
}
.block_services h5{
  font-family: 'BlissPro-Medium';
  font-size:20px;
  line-height: 20px;
}
.block_view_services{
  margin-top: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}
.block_services span.view_services{
  font-family: 'BlissPro-Medium';
  font-size:20px;
  line-height: 20px;
  border: 2px solid #30917c;
  color: #000;
  text-decoration: none;
  border-radius: 40px;
  padding: 11px 30px 13px;
  display: inline-block;
  margin: 15px 0 0;
  float: left;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  width: 180px;
}
.block_services span.view_services:hover{
  color: #fff;
  background: #30917c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.block_services span.hide_all_services, .block_services span.hide_all_services:hover{
  /*padding: 11px 40px 13px;*/
  width: 180px;
  display: block !important;
}
.block_services p{
  float: right;
  font-family: 'BlissPro-ExtraLight';
  color: #000;
  font-size: 18px;
  width: 73%;
  margin: 15px 0 0 0;
}

.block_accord{
  margin-left: 183px;
  margin-bottom: 25px;
  overflow: hidden;
}
.block_accord span{
  border: 2px solid #30917c;
  color: #000;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
  font-family: 'BlissPro-Medium';
  font-size: 20px;
  color: #30917c;
  line-height: 35px;
  text-align: center;
} 
.block_accord p {
  float: left;
  font-family: 'BlissPro-ExtraLight';
  color: #000;
  font-size: 18px;
  width: 90%;
  margin: 0px 0 0 30px;
}
.block_accord ul {list-style-type: none;/*margin-left: 30px;*/}
.block_accord h3 {margin: 0 0 10px 0;}
.block_accord li a { color: inherit; /*text-decoration: none;*/}
.ba1 p{
  margin:20px 0 0 65px;
  width: 75%;
}
.ba2 p{
  width: 85%;
  margin: 6px 0 0 65px;
}
.ba3 p{
  margin: 0px 0 0 65px;
  width: 75%;
}
#accordion-4 span{
  margin: 10px 0 0;
}
#accordion-4 .ba2 p{
  margin-top: 18px;
}
#accordion-4 .ba1 p{
  margin-top: 28px;
}
#accordion-4 .ba3 p {
  margin: 5px 0 0 65px;
  width: 75%;
}
#accordion-5 .ba1 p{
  width: 75%;
}
#accordion-3 .ba1 p {
  margin: 20px 0 0 65px;
}
.blck_arrow{
  position: relative;
}
span.accordion-section-title{
  position: relative;
  display: block;
  font-weight: bold;
  z-index: 2;
  cursor: pointer;
}
span.accordion-section-title:hover .arrow{
  position: absolute;
  right: 20px;
  background: url('/upload/img/arrow_toph.png') no-repeat 0 0;
  width: 25px;
  height: 15px;
  top: 22px;
  z-index: 10;
  pointer-events:none;
  display: block !important;
}
span.accordion-section-title.active:hover .arrow{
  position: absolute;
  right: 20px;
  background: url('/upload/img/arrow_bottomh.png') no-repeat 0 0;
  width: 25px;
  height: 15px;
  top: 22px;
  z-index: 10;
  pointer-events:none;
  display: block !important;
}
.arrow{
  position: absolute;
  right: 20px;
  background: url('/upload/img/arrow_top.png') no-repeat 0 0;
  width: 25px;
  height: 15px;
  top: 22px;
  z-index: 10;
  pointer-events:none;
  display: block !important;
}
.arrow.active_arrow{
  position: absolute;
  right: 20px;
  background: url('/upload/img/arrow_bottom.png') no-repeat 0 0;
  width: 25px;
  height: 15px;
  top: 22px;
  z-index: 10;
  display: block !important;
}
/*----- Accordion -----*/
.accordion, .accordion * {
  -webkit-box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  box-sizing:border-box;
}

.accordion {
  overflow:hidden;
}

/*----- Section Titles -----*/
.accordion-section-title {
  width:100%;
  padding:15px 0;
  display:inline-block;
  border-bottom:1px solid #bebebe;
  transition:all linear 0.15s;
  /* Type */
  font-size:20px;
  line-height: 31px;
  color:#000;
  text-decoration:none;
}
.accordion-section-title, .accordion-section-title:hover, 
 .accordion-section-title:focus{
  border-bottom:1px solid #bebebe;
}

.accordion-section-title.active:hover, .accordion-section-title.active{ 
  text-decoration:none;
  border-bottom: 1px solid transparent;
}
.accordion-section-title:focus, .accordion-section-title:hover, .accordion-section-title.active{
  color: #30917c;
}
/*.accordion-section:last-child .accordion-section-title {
  border-bottom:none;
}*/

/*----- Section Content -----*/
.accordion-section-content {
  padding: 20px 0;
  display:none;
}
.block_desc_contact{
  margin: 90px 0 0 110px;
  overflow: hidden;
}
.con_phone{
  background: url('/upload/img/phone.png') no-repeat 0 0;
  height: 225px;
  float: left;
}
.con_phone p{
  /*padding: 47px 0 0 260px;*/
  padding: 27px 0 0 260px;
  font-family: 'BlissPro-ExtraLight';
  font-size: 18px;
  color: #000;
}
.con_email{
  background: url('/upload/img/email.png') no-repeat 0 0;
  height: 225px;
  float: left;
  margin: 0 0 0 210px;
}
.con_email p{
  padding: 2px 0 18px 240px;
  font-family: 'BlissPro-ExtraLight';
  font-size: 18px;
  color: #000;
}
.con_map{
  background: url('/upload/img/map.png') no-repeat 0 0;
  height: 225px;
  float: left;
  margin: 40px 0 0;
}
.con_map .con_map_desc{
  margin: 40px 0 0 25px;
}
.con_map .con_map_desc p{
  padding: 0px 0 0 240px;
  font-family: 'BlissPro-ExtraLight';
  font-size: 18px;
  color: #000;
}
.footer_contact{
  margin-top: 0;
}
.map_contact{
  margin-top: 50px;
}
a[href^="tel:"] {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.footer a[href^="mailto:"] {
  color: inherit;
}