@font-face {
  font-family: 'MyriadPro';
  src: url('/upload/fonts/myriadpro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  
	   url('/upload/fonts/myriadpro/MyriadPro-Regular.woff') format('woff'), 
	   url('/upload/fonts/myriadpro/MyriadPro-Regular.ttf')  format('truetype'), 
	   url('/upload/fonts/myriadpro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('/upload/fonts/avenir/avenirnextcyrlight.eot?#iefix') format('embedded-opentype'),  
  url('/upload/fonts/avenir/avenirnextcyrlight.woff') format('woff'), 
  url('/upload/fonts/avenir/avenirnextcyrlight.ttf') format('truetype'), 
  url('/upload/fonts/avenir/avenirnextcyrlight.svg#avenirnextcyrlight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('/upload/fonts/avenir/avenirnextcyrultralight.eot?#iefix') format('embedded-opentype'), 
	   url('/upload/fonts/avenir/avenirnextcyrultralight.woff') format('woff'), 
	   url('/upload/fonts/avenir/avenirnextcyrultralight.ttf')  format('truetype'), 
	   url('/upload/fonts/avenir/avenirnextcyrultralight.svg#avenirnextcyrultralight') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('/upload/fonts/ptsans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),  
	   url('/upload/fonts/ptsans/PTSans-Regular.woff') format('woff'), 
	   url('/upload/fonts/ptsans/PTSans-Regular.ttf')  format('truetype'), 
	   url('/upload/fonts/ptsans/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li{
	margin: 0;
	padding: 0;	
}
ul, ol{
	list-style: none;
}
li{
	vertical-align: top;
}
img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.mp{
	margin: 0;
}
.pm{
	margin: 0;
}
.hides{
	display: none;
}
.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
}
.navbar-static-top{
	border: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: transparent;
  font-family: 'MyriadPro';
  font-weight: normal;
  font-size: 14px;
  text-shadow: none;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background-color: transparent;
  font-family: 'MyriadPro';
  font-weight: normal;
  font-size: 14px;
  text-shadow: none;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	background-color: transparent;
	font-family: 'MyriadPro';
	font-weight: normal;
	font-size: 14px;
	line-height: 71px;
	text-shadow: none;	
	width: 180px;
	margin: 4px 0 -4px 0px;
}
ul.navbar-nav{
	text-align: left;
	float: none;
	font-size: 0;
}
.navbar-nav>li {
	text-align: center;
	float: none;
	position: relative;
	display: inline-block;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;		
}
.navbar-nav>li.active{
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;		
}
.navbar-nav>li:hover{
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;		
}
.navbar-nav>li:hover a{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;		
}
.navbar-nav>li.active:after{
	content: "";
	position: absolute;
	height: 3px;
	background: #00c969;
	width: 100%;
	left: 0;
	right: 0;
	bottom: -3px;
	margin: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}
.navbar-nav>li:after{
	content: "";
	position: absolute;
	height: 3px;
	background: transparent;
	width: 100%;
	left: 0;
	right: 0;
	bottom: -3px;
	margin: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}
.navbar-nav>li:hover:after{
	content: "";
	position: absolute;
	height: 3px;
	background: #00ed7c;
	width: 100%;
	left: 0;
	right: 0;
	bottom: -3px;
	margin: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
  border: 0;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-nav {
    margin: 0;
}
.navbar{
	margin-bottom: 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav>li>a {
    padding: 0 0 0 0;
}
.navbar {
    min-height: 0px;
    margin-bottom: 0;
    border: 0px solid transparent;
}
h2{
	font-family: 'Avenir';
	font-weight: 100;
	color: #000;
	font-size: 45px;
	line-height: 45px;
}
h5 {
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
h6{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 18px;
	color: #000;
}
p{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 17px;
	color: #7c7c7c;	
}
li{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 17px;
	color: #7c7c7c;		
}
/*
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav>li>a {
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}*/

*{
	outline: none;
	margin: 0;
	padding: 0;
}
html,
body {
/* 	height: 100%;*/
}
body {
	overflow: hidden;
}
#header{
	width: 100%;
	height: 493px;
	position: relative;
}
.bg_main{
	background-image: url('/upload/img/bg_main.jpg');
	/* width: 100%;
     height: 493px;
    position: relative;	*/
}
.bg_services{
	background-image: url('/upload/img/bg_services.jpg');
	/* width: 100%;
       height: 493px;
       position: fixed;	*/
  }
  .bg_partners{
	  background-image: url('/upload/img/bg_partners.jpg');
	  /* width: 100%;
       height: 493px;
       position: fixed;*/
}
.bg_contact{
	background-image: url('/upload/img/bg_contact.jpg');
	/* width: 100%;
   	height: 493px;
     position: fixed;	*/
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
    margin: -187px auto -285px;
    padding: 0 0 285px;
    background-color: #fff;
    position: relative;
}
.logo{
	margin: 25px 0 0 -50px;
	position: fixed;
}
.container_pad{
	padding-left: 50px;
}
*, :after, :before{
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.offset{
	margin: -74px 0 0;
}
.bg_menu.top_fixed_menu{
	position: fixed;
	top:0;
	margin: 0;
	z-index: 20;
}
.blc_bg_menu{
	width: 100%;
	min-height: 74px;
	background: rgba(0,0,0, 0.74);
	margin:0;
	position: absolute;
	top: 419px;
	z-index: 600;
}
.blc_bg_menu:before, .blc_bg_menu:after{
	display: table;
    content: " ";
}
.blc_bg_menu:after{
	clear: both;
}
.top_fixed_menu{
	width: 100%;
	min-height: 74px;
	background: rgba(0,0,0, 0.74);
	margin:0;
	position: fixed;
	top: 0;
	z-index: 100;
}
.progress_bar {
    position: fixed;
}
.logo_fix{
	float: left;
	margin: 20px 0 0 -52px;	
	display: none;
}
.logo_fix.active{
	display: block;
}
.pensioner_admin{
	margin: 187px 0 0;
}
.pensioner_admin h2{
	margin: 115px 0 50px;
}
.pensioner_admin h6{
	margin: 0 0 25px;
}
.pensioner_admin h6.hd{
	display: none;
}
.pensioner_admin p{
	width: 90%;
}
.pensioner_admin_circle_main{
	margin: 90px 0 0;
}
ul.number_participants{
	overflow: hidden;
	margin: 75px 0 0 0;
	text-align: center;
}
ul.number_participants li{
	display: inline-block;
	text-align: left;
}
ul.number_participants li p{
	color: #000;
}
ul.number_participants li p span{
	color: #c6c6c6;
}
ul.number_participants li p.number{
	font-size: 24px;
	line-height: 24px;
}
ul.number_participants li .crc{
	border: 14px solid #00c969;
	border-radius: 100%;
	margin: 35px 0 0;
}
ul.number_participants li:first-child{
	width: 195px;
	margin: 0 30px 0 0;
}
ul.number_participants li:first-child .desc{
	margin: 200px 0 0 0;
}
#circle3 .circles-text{
    margin-top: -75px;
    width: 140px!important;
}
#circle3{
	margin: 70px 0 0 0;
}
#circle3 .number{
	text-align:left;
}
#circle2 .circles-text{
    margin-top: -100px;
    width: 226px!important;
}
#circle2{
	margin: 120px 0 0 0;
}
#circle2 .number{
	text-align:left;
}
#circles-1 .number{
	text-align:left;
}
#circles-1 .circles-text{
	margin-top:-150px;
	width: 171px !important;
    /*margin-left: -50px;*/
}
.pensioner_admin_circle_main .number_participants li:first-child .circles-wrp svg {
    margin: -12px 0 0;;
}
.pensioner_contact h2{
	margin-top: 115px;
}
#pcircle13 .circles-text,
#pcircle23 .circles-text,
#pcircle33 .circles-text{
    margin-top: -75px;
    width: 190px!important;
}
#pcircle13,
#pcircle23,
#pcircle33{
	margin: 70px 0 0 0;
}
#pcircle13 .number,
#pcircle23 .number,
#pcircle33 .number{
	text-align:left;
}
#pcircle12 .circles-text,
#pcircle22 .circles-text,
#pcircle32 .circles-text{
    margin-top: -100px;
    width: 190px!important;
}
#pcircle12,
#pcircle22,
#pcircle32{
	margin: 120px 0 0 0;
}
#pcircle12 .number,
#pcircle22 .number,
#pcircle32 .number{
	text-align:left;
}
#pcircle11 .circles-text,
#pcircle21 .circles-text,
#pcircle31 .circles-text{
	margin-top: -140px;
	width: 190px !important;
}
#pcircle11,
#pcircle21,
#pcircle31{
	margin: 200px 0 0 0;
}
#pcircle11 .number,
#pcircle21 .number,
#pcircle31 .number{
	text-align:left;
}
.pensioner_admin .number_participants li:first-child .circles-wrp svg{
	margin: -16px 0 0;
}
ul.number_participants li:first-child .crc{
	width: 94px;
	height: 94px;
}
ul.number_participants li:nth-child(2){
	width: 255px;
	margin: 0 80px 0 0;
}
ul.number_participants li:nth-child(2) .desc{
	margin: 37px 0 0;
}
ul.number_participants li:nth-child(2) .crc{
	width: 220px;
	height: 220px;
}
ul.number_participants li:last-child{
	width: 310px;
}
ul.number_participants li:last-child .crc{
	width: 293px;
	height: 293px;
}
.pensioner_admin_folder_main{
	margin: 95px 0 0;
}
.pensioner_admin_folder_main ul{
	text-align: left;
	margin: 178px 0 -190px;  
}
.pensioner_admin_folder_main ul.lot_of{
	margin-bottom: -190px;
}
.pensioner_admin_folder_main ul li{
	display: inline-block;
	width: 20%;
	margin: 0 -4px 190px 0;
	text-align: left;
}
.pensioner_admin_folder_main ul li .desc{
	position: relative;
}
/*
.pensioner_admin_folder_main ul li .desc:before{
	content: "";
	position: absolute;
	background: url('/upload/img/sp_folder.png') no-repeat 0 -95px;
	width: 72px;
	height: 92px; 
	top: -130px;
	left: 0;  
}
*/
.pensioner_admin_folder_main ul li .desc:hover:before{
	background-position: 0 0; 
}
.pensioner_admin_folder_main ul li .desc a{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
	position: relative;
	padding: 42px 0 0;
}
.pensioner_admin_folder_main ul li .desc a:before{
	content: "";
	position: absolute;
	background: url('/upload/img/sp_folder.png') no-repeat 0 -95px;
	width: 72px;
	height: 92px; 
	top: -88px;
	left: 0;  
}
.pensioner_admin_folder_main ul li a:hover:before{
	background-position: 0 0; 
}


.pensioner_admin_folder_main ul li .desc a.hd{
	display: none;
}
.bg_gray{
	margin: 105px 0 0;
	background: #f5f5f5;
	padding: 95px 0 85px;
}
.bg_gray ul.cnt{
	text-align: center;
	margin: 65px 0 0;	
}
.bg_gray ul.cnt li{
	display: inline-block;
	margin: 0 -4px 0 0;
	width: 25%;
}
.bg_gray ul.cnt li a{
	text-decoration: none;
}
.bg_gray ul.cnt li .desc{
	position: relative;
}
.bg_gray ul.cnt li:first-child .desc:before{
	content: "";
	background: url('/upload/img/sp_icons.png') no-repeat 0 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:first-child .desc:hover:before{
	background-position: 0 -47px;	
}
.bg_gray ul.cnt li:nth-child(2) .desc:before{
	content: "";
	background: url('/upload/img/sp_icons.png') no-repeat -54px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:nth-child(2) .desc:hover:before{
	background-position: -54px -47px;	
}
.bg_gray ul.cnt li:nth-child(3) .desc:before{
	content: "";
	background: url('/upload/img/sp_icons.png') no-repeat -108px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:nth-child(3) .desc:hover:before{
	background-position: -108px -47px;	
}
.bg_gray ul.cnt li:last-child .desc:before{
	content: "";
	background: url('/upload/img/sp_icons.png') no-repeat -162px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:last-child .desc:hover:before{
	background-position:  -162px -47px;	
}
.double_tabs{
	margin: 95px 0 0;
}
.hor_tabs_fix{
	
}
/*.tabs_partners>ul.part,*/.hor_tabs{
	text-align: center;
}
.tabs_partners.hor_tabs_fix {
	background: rgba(255,255,255, 0.9);
	width: 100%;
	padding: 30px 0;
	position: fixed;
    top: 0;
    margin: auto;
	z-index: 10;
}

.hor_tabs_fix{
	background: rgba(255,255,255, 0.9);
	width: 100%;
	padding: 30px 0;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
	z-index: 10;
}
.hor_tabs.fixed{
    position: fixed;
    top: 74px;
    margin: 0;
    z-index: 9;
	background: #fff;
	padding: 30px 0;
}
.hor_tabs li{
	display: inline-block;
	margin: 0 30px;	
	position: relative;
	cursor: pointer;
}
.hor_tabs li:first-child{
	margin-left: 0;
}
.hor_tabs li:last-child{
	margin-right: 0;
}
.hor_tabs li:after{
	content: '';
	background: #d1d1d1;
	border: 3px solid #d1d1d1;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	display: block;
    margin: 20px auto 0;
}
.hor_tabs li.active:after{
	content: '';
	background: #d1d1d1;
	border: 3px solid #07c96d;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	display: block;
    margin: 20px auto 0;
}
.hor_tabs li.active:first-child:after{
	background: #07c96d;
}
.hor_tabs li.active:last-child:after, .hor_tabs li:last-child:after{
    margin: 38px auto 0;
}
.hor_tabs li h5{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 18px;
	color: #000;	
}
.hor_tabs li h5.hd{
	display: none;
}
.ver_tabs{
	margin: 80px 0 0;
}
.ver_tabs li{
	position: relative;
	margin: 0 0 75px;
}
.ver_tabs li h5{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 16px;
	color: #000;
	margin: 0 0 25px;
	cursor: pointer;
}
.ver_tabs li h5, .ver_tabs li .desc{
	padding: 0 0 0 110px;
}
.ver_tabs li .desc{
/*	display: none;*/
}
.ver_tabs li h5, .ver_tabs li .desc p{
	line-height: 18px;
}
.ver_tabs li .desc p span{
	margin: 0 35px 0 0;
}
.ver_tabs li .desc .desc_txt:before, .ver_tabs li .desc .desc_txt:after{
    display: table;
    content: " ";		
}
.ver_tabs li .desc .desc_txt:after{
	    clear: both;
}
.ver_tabs li .desc .desc_txt span{
	float: left;
	margin: 0 -24px 0 0;
}
.ver_tabs li .desc .desc_txt p{
	float: left;
	margin: 0 0 0 60px;
}
.ver_tabs li .direction{
	position: absolute;
	top: -15px;
	left: 0;
	background: url('/upload/img/sp_tabs.png') no-repeat 0 0;
	width: 51px;
	height: 51px;	
	cursor: pointer;
}
.ver_tabs li .direction.active{
	background-position: 0 -54px;	
}
.part{
	text-align: center;
}
.part li{
	display: inline-block;
	margin: 0 56px;
	cursor: pointer;
}
.part li:first-child{
	margin-left: 0;
}
.part li:last-child{
	margin-right: 0;
}
.part li h5.hd{
	display: none;
}
.part li:after {
    content: '';
    background: #d1d1d1;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: block;
    margin: 38px auto 0;
}
.part li:nth-child(3):after{
	margin: 20px auto 0;
}
.part li.active:nth-child(3):after{
	margin: 20px auto 0;
}
.part li.active:after {
    content: '';
    background: #07c96d;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: block;
    margin: 38px auto 0;
}
.tabs_partners{
	margin: 0 0 35px;
}
.part {}
.part li {
	display: inline-block;
	position: relative;
}
.tabs__content {
	display: none;
}
.tabs__content.active {
	display: block;
	height: auto;
}
.funded_pension{
	margin: 110px 0 0;
}
ul.all_pack{
    overflow: hidden;
}
ul.all_pack.lot_of{
	margin-bottom: -190px;
}
ul.all_pack li{
    float: left;
}
ul.all_pack > li:first-child{
	width: 75%;
}
ul.all_pack li:first-child ul.fun li{
	width: 100%;
	border-bottom: 1px solid #00c969;
}
ul.all_pack li:first-child ul.charter.lot_of{
	margin-bottom: -190px;
}
ul.all_pack li:first-child ul.charter.lot_of li{
	margin-bottom: 190px;
}
ul.all_pack li:first-child ul.charter li{
	width: 25%;
	border: 0;
    display: inline-block;
    margin: 0 -4px 0px 0;
    text-align: left;	
}
ul.all_pack > li:last-child{
	width: 25%;	
}
ul.all_pack li:last-child ul.fun li{
	width: 100%;	
	border-bottom: 1px solid #d1d1d1;
}
ul.all_pack li:last-child ul.charter li{
	width: 100%;	
	border-bottom: 0;
    display: inline-block;
    width: 100%;
    margin: 0 -4px 190px 0;
    text-align: left;	
}
ul.all_pack li:last-child ul.charter li:last-child{
	margin-bottom: 0
}
.tc1 ul.number_participants li:first-child .desc {
    margin: 122px 0 0 0;
	margin: 80px 0 0 0;
}
.tc1 ul.number_participants li:first-child .crc {
    width: 64px;
    height: 64px;
	margin: 77px 0 0;
}
.tc1 ul.number_participants li:nth-child(2) .desc {
    margin: 52px 0 0;
	margin: 30px 0 0;
}
.tc1 ul.number_participants li:nth-child(2) .crc {
    width: 204px;
    height: 204px;
	margin: 57px 0 0;
}
.tc1 ul.number_participants li:last-child .crc {
    width: 308px;
    height: 308px;
}
.tc2 ul.number_participants li:first-child .desc {
    margin: 80px 0 0 0;
}
.tc2 ul.number_participants li:first-child  .crc{
	margin: 64px 0 0;
}
.tc2 ul.number_participants li:nth-child(2)  .crc{
	margin: 53px 0 0;
}
.tc2 ul.number_participants li:nth-child(2) .desc {
    margin: 30px 0 0;
}
.tc2 ul.number_participants li:last-child .crc {
    width: 254px;
    height: 254px;
	margin: 64px 0 0;
}
.tc3 ul.number_participants li:first-child .desc {
    margin: 64px 0 0 0;
	margin: 80px 0 0 0;
}
.tc3 ul.number_participants li:first-child .crc {
    width: 64px;
    height: 64px;
	margin: 77px 0 0;
}
.tc3 ul.number_participants li:nth-child(2) .desc {
    margin: 22px 0 0;
	margin: 30px 0 0;
}
.tc3 ul.number_participants li:nth-child(2) .crc {
    width: 148px;
    height: 148px;
	margin: 84px 0 0;
}
.tc3 ul.number_participants li:last-child .crc {
    width: 192px;
    height: 192px;
	margin: 84px 0 0;
}
ul.fun{}
ul.fun li{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 16px;
	color: #000;
	padding: 0 0 20px;	
	float: left;
	width: 75%;
	border-bottom: 1px solid #00c969;
}
ul.fun li:last-child{
	float: left;
	width: 25%;
	border-bottom: 1px solid #d1d1d1;
}
.funded_pension ul.charter {
    text-align: center;
    margin: 185px 0 0;
}
.funded_pension ul.charter:after, .funded_pension ul.charter:before{
    display: table;
    content: " ";	
}
.funded_pension ul.charter:after{
	clear: both;
}
.funded_pension ul.charter.lot_of{
	margin-bottom: -190px;
}

.funded_pension ul.charter li {

}
.funded_pension ul.charter li .desc {
    position: relative;
}
.funded_pension ul.charter li .desc:before {
/*
    content: "";
    position: absolute;
    background: url('/upload/img/sp_folder.png') no-repeat 0 -95px;
    width: 72px;
    height: 92px;
    top: -130px;
    left: 0;
*/
}
.funded_pension ul.charter li .desc:hover:before {
/*    background-position: 0 0;*/
}
.funded_pension ul.charter li .desc a {
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
	padding-top: 42px;
	position: relative;
}
.funded_pension ul.charter li .desc a:before{
	content: "";
    position: absolute;
    background: url('/upload/img/sp_folder.png') no-repeat 0 -95px;
    width: 72px;
    height: 92px;
    top: -88px;
    left: 0;
}
.funded_pension ul.charter li .desc a:hover:before{
	background-position: 0 0;
}
.funded_pension ul.charter li .desc a.hd {
    display: none;
}
.pensioner_contact .vs{
	display: none;
}
.pensioner_contact .hd{
	display: block;
}
.pensioner_contact{
	margin: 187px 0;
}
.pensioner_contact h5{
	margin: 55px 0 30px;
}
.pensioner_contact h2{
	margin-top: 115px;
}
.pensioner_contact ul.cnt {
	text-align: center;
	margin: 130px 0 0;
	float: right;
	width: 85%;	
}
.pensioner_contact ul.cnt li {
	display: inline-block;
	margin: 0 -4px 86px 0;
	width: 50%;
	text-align: left;
}
.pensioner_contact ul.cnt li:nth-child(3), .pensioner_contact ul.cnt li:last-child{
	margin-bottom: 0;
}
.pensioner_contact ul.cnt li .desc {
    position: relative;
	padding-left: 65px;
}
.pensioner_contact ul.cnt li:first-child .desc:before {
    content: "";
    background: url('/upload/img/sp_icons.png') no-repeat -54px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -12px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li .desc p.green {
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 18px;
    color: #54d28c;
    margin: 0 0 20px;
}
.pensioner_contact ul.cnt li .desc p {
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 17px;
    color: #7c7c7c;
}
.pensioner_contact ul.cnt li:first-child .desc:hover:before {
    background-position: -54px -47px;
}
.pensioner_contact ul.cnt li:nth-child(2) .desc:before {
    content: "";
    background: url('/upload/img/sp_icons.png') no-repeat -162px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -12px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li:nth-child(2) .desc:hover:before {
    background-position: -162px -47px;
}
.pensioner_contact ul.cnt li:nth-child(3) .desc:before {
    content: "";
    background: url('/upload/img/sp_icons.png') no-repeat 0 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -12px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li:nth-child(3) .desc:hover:before {
    background-position: 0 -47px;
}
.pensioner_contact ul.cnt li:last-child .desc:before {
    content: "";
    background: url('/upload/img/sp_icons.png') no-repeat -108px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -12px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li:last-child .desc:hover:before {
    background-position: -108px -47px;
}
.pensioner_contact ul.cnt li .desc a {
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #545454;
    text-decoration: none;
}
.bg_gray ul.cnt li .desc p.hd {
    display: none;
}
.product_details_map{
	margin: 0 0 -105px;
}
#map10 {
    width: 100%;
    height: 655px;
}
.bg_gray ul.cnt li .desc p.green{
	font-family: 'MyriadPro';
	font-size: 18px;
	line-height: 18px;
	color: #54d28c;
	margin: 0 0 20px;
}
.bg_gray ul.cnt li .desc p{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 18px;
	color: #545454;
}
.bg_gray ul.cnt li .desc p.hd{
	display: none;
}
.bg_gray ul.cnt li .desc a{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 18px;
	color: #545454;
	text-decoration: none;
}
#footer {
	margin: 55px 0 0;
	height: 285px;
	background-color: #fff;
	position: relative;
}
.blc_safmar{
	text-align: center;
}
.footer_logos{
	margin: 65px 0 0;	
}
.footer_logos .logos{
	display: table;
	text-align: center;
	width: 100%;	
}
.footer_logos .logos li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.footer_logos .logos li .bl {
    display: block;
    margin: auto;
}
.footer_logos .logos li .blg1 {
  display: block;
  background: url('/upload/img/f1.png') no-repeat;
  background-position: 0 -26px;
  width: 158px;
  height: 23px;
}
.footer_logos .logos li .blg1:hover {
	background-position: 0 0;
}
.footer_logos .logos li .blg2 {
  display: block;
  background: url('/upload/img/f2.png') no-repeat;
  background-position: 0 -53px;
  width: 124px;
  height: 50px;
}
.footer_logos .logos li .blg2:hover {
	background-position: 0 0;
}
.footer_logos .logos li .blg3 {
	display: block;
    background: url('/upload/img/f3.png') no-repeat;
	background-position: 0 -34px;
	width: 128px;
	height: 31px;
}
.footer_logos .logos li .blg3:hover {
	background-position: 0 0;
}
.footer_logos .logos li .blg4 {
	display: block;
    background: url('/upload/img/f4.png') no-repeat;
	background-position: 0 -32px;
	width: 196px;
	height: 29px;
}
.footer_logos .logos li .blg4:hover {
	background-position: 0 0;
}
.footer_logos .logos li .blg5 {
	display: block;
    background: url('/upload/img/f5.png') no-repeat;
	background-position: 0 -68px;
	width: 65px;
	height: 65px;
}
.footer_logos .logos li .blg5:hover {
	background-position: 0 0;
}
.bg_ftr{
	background: url('/upload/img/bg_footer.jpg') no-repeat 54% 0;
	width: 100%;
	height: 52px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.hphone{
	position: absolute;
	color: #fff;
    right: -33px;
    top: 28px;
	font-family: 'MyriadPro';
	font-size: 24px;
	line-height: 24px;	
}
/*=========================================================================================*/
div .chosen-single p.custom_txt{
	position: absolute;
    color: #aaa;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;
    text-rendering: geometricPrecision;	
    -webkit-transform: translate3d(0, 17px, 0) scale3d(1, 1, 0) translateZ(1px);
    transform: translate3d(0, 17px, 0) scale3d(1, 1, 0) translateZ(1px);	
    font-size: 14px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;		
}
.chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-active .chosen-drop,
.chosen-container-active .chosen-single, .chosen-container.active .chosen-single{
	border-color: #54d28c !important;
}
.chosen-container-active .chosen-single span, .chosen-container.active .chosen-single span{
	color: #000;
}
div .chosen-single p.custom_txt.active{
	color: #54d28c;
	font-size: 12px;
    -webkit-transition: -webkit-transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;	
    -webkit-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) translateZ(1px);
    transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) translateZ(1px);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;		
}
#ui-datepicker-div select
{
	display:none;
}

.chosen-drop li.active-result.result-selected
{
	display:none;
}

/*=========================================================================================*/
@media (min-width: 768px){
	.col-xs-15 {
		width: 20%;
		float:left;
		position: relative;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 1070px;
	}
}
@media (max-width: 1450px){
	.navbar-default .navbar-nav>li>a {
		width: 180px;
	}
	.hphone {
		right: -33px;
	}	
}
@media (max-width: 1440px){}
@media (max-width: 1200px){
	.navbar-default .navbar-nav>li>a, 
	.navbar-default .navbar-nav>li>a:hover, 
	.navbar-default .navbar-nav>li>a:focus {
		width: 155px;
	}
	.hor_tabs li {
		margin: 0 15px;
		height: 108px;
		width: 150px;
	}
	.ver_tabs li h5, .ver_tabs li .desc {
		padding: 0 0 0 95px;
	}
	.ver_tabs li .desc .desc_txt p {
		margin: 0 0 0 50px;
	}
	.part li {
		margin: 0 40px;
	}
	ul.all_pack > li:first-child {
		width: 70%;
	}
	ul.all_pack > li:last-child {
		width: 30%;
	}
	.hor_tabs li:last-child {
		margin-right: 15px;
	}
	.hor_tabs li:first-child {
		margin-left: 15px;
	}
	.navbar-default .navbar-nav>li>a {
		width: 155px;
	}
	.hphone {
		right: -15px;
	}	
}
@media (max-width: 1080px){
	.logo {
		margin: 25px 0 0 0px;
	}
	.logo_fix {
		float: left;
		margin: 20px 0 0 -2px;
		display: none;
	}
	.navbar-default .navbar-nav>li>a, 
	.navbar-default .navbar-nav>li>a:hover, 
	.navbar-default .navbar-nav>li>a:focus,
	.top_fixed_menu .navbar-default .navbar-nav>li>a, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:hover, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:focus {
		width: 150px;
	}	
	.hphone {
		right: 10px;
		font-size: 20px;
		line-height: 20px;
		top: 29px;
	}	
}
@media (max-width: 1024px){}
@media (max-width: 991px){
	.navbar-default .navbar-nav>li>a, 
	.navbar-default .navbar-nav>li>a:hover, 
	.navbar-default .navbar-nav>li>a:focus,
	.top_fixed_menu .navbar-default .navbar-nav>li>a, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:hover, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:focus {
		width: 115px;
	}
	ul.number_participants {
		text-align: left;
	}	
	ul.number_participants li:first-child {
		width: 195px;
		margin: 0 25px 0 0;
	}
	ul.number_participants li:first-child .desc {
		margin: 52px 0 0 0;
	}
	ul.number_participants li:nth-child(2) {
		width: 255px;
		margin: 0 30px 0 0;
	}	
	ul.number_participants li:nth-child(2) .desc {
		margin: 23px 0 0;
	}
	ul.number_participants li:nth-child(2) .crc {
		width: 155px;
		height: 155px;
	}
	ul.number_participants li:last-child {
		width: 200px;
	}
	ul.number_participants li:last-child .crc {
		width: 200px;
		height: 200px;
	}
	.pensioner_admin {}	
	.pensioner_admin_folder_main ul li {
		width: 50%;
		margin: 0 -4px 200px 0;
	}	
	.pensioner_admin_folder_main ul li:last-child, .pensioner_admin_folder_main ul li:nth-last-child(2){
		margin-bottom: 0;
	}
	.bg_gray ul.cnt li {
		margin: 0 -4px 120px 0;
		width: 50%;
	}
	.bg_gray ul.cnt li:last-child, .bg_gray ul.cnt li:nth-last-child(2){
		margin-bottom: 0;
	}
	h2 {
		font-size: 38px;
		line-height: 38px;
	}
	.part li {
		margin: 0 17px;
	}
	ul.all_pack li:first-child ul.charter li {
		width: 50%;
		border: 0;
		display: inline-block;
		margin: 0 -4px 0 0;
		text-align: left;
	}
	ul.all_pack li:first-child ul.charter li {
		width: 50%;
	}	
	ul.all_pack li:first-child ul.charter li:nth-last-child(2), ul.all_pack li:first-child ul.charter li:last-child{
		margin-top: 200px;
	}
	ul.all_pack > li:first-child {
		width: 60%;
	}	
	ul.all_pack > li:last-child {
		width: 40%;
	}	
	.tc1 ul.number_participants li:first-child .desc {
		margin: 0;
	}
	.tc1 ul.number_participants li:first-child .crc {
		width: 64px;
		height: 64px;
	}
	.tc1 ul.number_participants li:nth-child(2) .desc {
		margin: 52px 0 0;
	}
	.tc1 ul.number_participants li:nth-child(2) .crc {
		width: 204px;
		height: 204px;
	}
	.tc1 ul.number_participants li:last-child .crc {
		width: 308px;
		height: 308px;
	}
	.tc2 ul.number_participants li:first-child .desc {
		margin: 0;
	}
	.tc2 ul.number_participants li:nth-child(2) .desc {
		margin: 17px 0 0;
	}
	.tc2 ul.number_participants li:last-child .crc {
		width: 254px;
		height: 254px;
	}
	.tc3 ul.number_participants li:first-child .desc {
		margin: 0;
	}
	.tc3 ul.number_participants li:first-child .crc {
		width: 64px;
		height: 64px;
	}
	.tc3 ul.number_participants li:nth-child(2) .desc {
		margin: 22px 0 0;
	}
	.tc3 ul.number_participants li:nth-child(2) .crc {
		width: 148px;
		height: 148px;
	}
	.tc3 ul.number_participants li:last-child .crc {
		width: 192px;
		height: 192px;
	}
	.tabs__content ul.number_participants {
		text-align: center;
		margin-top: 100px;
	}
	.tabs__content ul.number_participants li{
		width: 100%;
		display: block;
		text-align: center;
		margin: 0 0 45px;
	}
	.tabs__content ul.number_participants li p{
		width: 100%;
	}
	.tabs__content ul.number_participants li .crc{
		margin: 45px auto 0;
	}
	.tabs__content.active {
		height: auto;
	}
	.tc1 ul.number_participants li:first-child .crc, .tc1 ul.number_participants li:nth-child(2) .crc, .tc1  ul.number_participants li:last-child .crc,
	.tc2 ul.number_participants li:first-child .crc, .tc2 ul.number_participants li:nth-child(2) .crc, .tc2 ul.number_participants li:last-child .crc,
	.tc3 ul.number_participants li:first-child .crc, .tc3 ul.number_participants li:nth-child(2) .crc, .tc3 ul.number_participants li:last-child .crc{
		margin: 45px auto 0;
	}	
	.offset {
		margin: -74px 0 140px;
	}
	.navbar-default .navbar-nav>li>a {
		width: 115px;
	}
	.hphone {
		right: -35px;
		font-size: 20px;
		line-height: 20px;
	}
	#circles-1 .circles-text {
		margin-top: -5px;
	}	
	.pensioner_admin_circle_main .number_participants li:first-child .circles-wrp svg{
		transform: scale(0.9);
		margin: 108px 0 0 42px;	
	}	
	.pensioner_admin_circle_main .number_participants li:nth-child(2) .circles-wrp svg{
		transform: scale(0.77);
		margin: -29px 0 0 -23px;	
	}	
	.pensioner_admin_circle_main .number_participants li:last-child .circles-wrp svg{
		transform: scale(0.65);
    	margin: -30px 0 0 -51px;	
	}
	.pensioner_admin_folder_main ul {
		margin: 178px 0 0px;
	}
	ul.all_pack li:first-child ul.charter.lot_of {
		margin-bottom: 0;
	}	
	ul.all_pack li:first-child ul.charter.lot_of li {
		margin-bottom: 0;
	}
	.pensioner_admin .number_participants li .circles-wrp{
		width: 100%;
	}
	#pcircle11, #pcircle21, #pcircle31 {
		margin: 115px 0 0 0;
	}	
	#pcircle11 .circles-text, #pcircle21 .circles-text, #pcircle31 .circles-text {
		margin-top: -100px;
		width: 100% !important;
	}
	#pcircle11 .number, #pcircle21 .number, #pcircle31 .number,
	#pcircle12 .number, #pcircle22 .number, #pcircle32 .number,
	#pcircle13 .number, #pcircle23 .number, #pcircle33 .number{
		text-align: center;
		margin: 10px 0 0;
	}	
	#pcircle12 .circles-text, #pcircle22 .circles-text, #pcircle32 .circles-text {
		margin-top: -100px;
		width: 100% !important;
	}	
	#pcircle13 .circles-text, #pcircle23 .circles-text, #pcircle33 .circles-text{
		margin-top: -100px;
		width: 100% !important;		
	}
	#pcircle12, #pcircle22, #pcircle32, #pcircle13, #pcircle23, #pcircle33 {
		margin: 150px 0 0 0;
	}	
}
@media (max-width: 850px){
	h2 {
		font-size: 33px;
		line-height: 33px;
	}	
}
@media (max-width: 767px){
	.navbar-toggle {
		margin-right: 0;
		margin-top: 20px;
	}	
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #00c969;
	}	
	ul.navbar-nav {
		text-align: right;
	}	
	.navbar-nav>li {
		display: block;
		text-align: right;
	}
	.navbar-default .navbar-nav>li>a {
		line-height: 40px;
	}
	.navbar-default .navbar-nav>li>a, 
	.navbar-default .navbar-nav>li>a:hover, 
	.navbar-default .navbar-nav>li>a:focus, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:hover, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:focus {
		width: 100%;
	}
	.logo_fix.active {
		display: none;
	}
	.pensioner_admin {}	
	h2 {
		font-size: 40px;
		line-height: 40px;
	}
	.top_fixed_menu .logo_fix {
		display: none;
	}
	ul.number_participants {
		text-align: center;
	}	
	ul.number_participants li {
		text-align: center;
	}
	ul.number_participants li:first-child {
		width: 100%;
		margin: 0;
	}	
	ul.number_participants li:first-child .desc {
		margin: 0 auto;
	}
	ul.number_participants li:first-child .crc {
		margin: 25px auto 0;
	}
	ul.number_participants li:nth-child(2) {
		width: 100%;
		margin: 0;
	}
	ul.number_participants li:last-child {
		width: 100%;
	}	
	ul.number_participants li:nth-child(2) .crc {
		margin: 35px auto 0;
		width: 220px;
		height: 220px;		
	}
	ul.number_participants li:last-child .crc {
		width: 293px;
		height: 293px;
		margin: 35px auto 0;
	}	
	ul.number_participants li:nth-child(2) .desc {
		margin: 50px 0 0;
	}
	ul.number_participants li:last-child .desc {
		margin: 50px 0 0;
	}
	.footer_logos .logos li {
		display: block;
		vertical-align: top;
		text-align: center;
		margin: 0 auto 35px;
	}	
	.footer_logos .logos li .bl {
		display: block;
		margin: auto;
	}	
	.bg_ftr {
		background: url('/upload/img/bg_footer.jpg') no-repeat 54% 0;
		position: static;
	}	
	.pensioner_admin h2, .pensioner_contact h2{
		margin: 50px 0 30px;
	}	
	.pensioner_admin .vsh{
		margin-top: 35px;
	}
	.hor_tabs li:first-child {
		margin-left: 15px;
	}
	.hor_tabs li:last-child {
		margin-right: 15px;
	}
	.pensioner_admin p {
		width: auto;
	}
	ul.number_participants {
		margin: 50px 0 0 0;
	}	
	.part {
		margin: 30px 0 0;
	}	
	.part li {
		float: none;
		display: inline-block;
		margin: 0 15px;
		height: 130px;
		width: 135px;
	}
	.part li:first-child {
		margin-left: 15px;
	}
	.part li:last-child {
		margin-right: 15px;
	}
	.pensioner_contact ul.cnt {
		margin: 65px 0 0;
		float: none;
		width: 100%;
	}	
	.pensioner_contact {}
	.tabs__content ul.number_participants {
		text-align: center;
		margin-top: 20px;
	}	
	.tabs__content ul.number_participants li{
		width: 100%;
		display: block;
		text-align: center;
		margin: 0 0 45px;
	}
	.tabs__content ul.number_participants li p{
		width: 100%;
	}
	.tabs__content ul.number_participants li .crc{
		margin: 20px auto;
	}	
	.offset {
		margin: -74px 0 85px;
	}	
	.hphone {
		right: auto;
		font-size: 24px;
		line-height: 24px;
		top: 26px;
	}
	.logo_fix{
		display: none !important;
	}
	.pensioner_admin_circle_main .number_participants li:first-child .circles-wrp svg {
		transform: scale(1);
		margin: 75px auto 45px;
	}
	.pensioner_admin_circle_main .number_participants li:nth-child(2) .circles-wrp svg {
		transform: scale(1);
		margin: 0px auto 80px;
	}
	.pensioner_admin_circle_main .number_participants li:last-child .circles-wrp svg {
		transform: scale(1);
		margin: 15px auto 0;
	}
	.pensioner_admin_circle_main .number_participants li .circles-wrp{
		width: 100%;
	}
	#circle1 .circles-text, #circle2 .circles-text, #circle3 .circles-text{
		width: 100% !important;
	}
	#circle1 .number, #circle2 .number, #circle3 .number {
		text-align: center;
		margin: 10px 0 0;
		
	}	
}
@media (max-width: 736px){}
@media (max-width: 675px){	
	ul.all_pack > li:first-child {
		width: 100%;
	}	
	ul.all_pack > li:last-child {
		width: 100%;
		margin-top: 90px;
	}	
}
@media (max-width: 600px){}
@media (max-width: 568px){
	.pensioner_contact ul.cnt {
		margin: 100px 0 0;
	}
	.pensioner_contact ul.cnt li:first-child .desc:before, .pensioner_contact ul.cnt li:nth-child(2) .desc:before,
	.pensioner_contact ul.cnt li:nth-child(3) .desc:before, .pensioner_contact ul.cnt li:last-child .desc:before{
		top: -55px;
		left: 0;
		right: 0;
	}
	.pensioner_contact ul.cnt li .desc {
		position: relative;
		padding-left: 0;
		text-align: center;
	}	
	.pensioner_contact ul.cnt li .desc p.green {
		margin: 0 0 10px;
	}	
	.pensioner_contact ul.cnt li:nth-child(3), .pensioner_contact ul.cnt li:last-child{
		margin-top: 35px;
	}
}
@media (max-width: 484px){
	h2 {
		font-size: 33px;
		line-height: 33px;
	}
	ul.all_pack li:first-child ul.charter li{
		width: 100%;
	}
	ul.all_pack li:first-child ul.charter li:nth-child(2){
		margin-top: 200px;
	}
	.funded_pension ul.charter li .desc a.vs {
		display: none;
	}	
	.funded_pension ul.charter li .desc a.hd {
		display: block;
	}
}
@media (max-width: 414px){
	ul.number_participants li:nth-child(2) .crc {
		width: 155px;
		height: 155px;
	}	
	ul.number_participants li:last-child .crc {
		width: 200px;
		height: 200px;
	}
	.pensioner_admin_folder_main ul {
		margin: 165px 0 0;
	}	
	.pensioner_admin_folder_main ul li .desc:before {
		top: -115px;
	}	
	.pensioner_admin_folder_main ul li {
		width: 100%;
		margin: 0 0px 180px 0;
	}	
	.pensioner_admin_folder_main ul li:nth-last-child(2) {
		margin-bottom: 180px;
	}
	.pensioner_admin_folder_main ul li .desc a.hd {
		display: block;
	}
	.pensioner_admin_folder_main ul li .desc a.vs {
		display: none;
	}
	.bg_gray ul.cnt li {
		margin: 0 0px 120px 0;
		width: 100%;
	}	
	.bg_gray ul.cnt li:nth-last-child(2) {
		margin-bottom: 120px;
	}
	.pensioner_contact ul.cnt li {
		display: inline-block;
		margin: 0 0px 85px 0;
		width: 100%;
		text-align: center;
	}	
	.pensioner_contact ul.cnt li:nth-child(3){
		margin-bottom: 85px;
	}
}
@media (max-width: 384px){
	h2 {
		font-size: 28px;
		line-height: 30px;
	}	
	.tc1 ul.number_participants li:last-child .crc {
		width: 260px;
		height: 260px;
	}	
	.pensioner_admin_circle_main .number_participants li:first-child .circles-wrp svg{
		transform: scale(0.65);
	}	
	.pensioner_admin_circle_main .number_participants li:nth-child(2) .circles-wrp svg{
		transform: scale(0.65);	
		margin: -40px auto 50px;
	}	
	.pensioner_admin_circle_main .number_participants li:last-child .circles-wrp svg{
		transform: scale(0.65);
		margin: -30px auto 0;
	}	
	.pensioner_admin .number_participants li:first-child .circles-wrp svg{
		transform: scale(0.65);
	}
	.pensioner_admin .number_participants li:nth-child(2) .circles-wrp svg{
		transform: scale(0.85);
	}
	.pensioner_admin .number_participants li:last-child .circles-wrp svg{
		transform: scale(0.75);
	}	
}
@media (max-width: 375px){}
@media (max-width: 320px){
	.bg_ftr {
		background: url('/upload/img/bg_footer.jpg') no-repeat 53% 0;
	}	
}













