@font-face {
  font-family: 'Myriad';
  src: url('../fonts/myriad/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  
	   url('../fonts/myriad/MyriadPro-Regular.woff') format('woff'), 
	   url('../fonts/myriad/MyriadPro-Regular.ttf')  format('truetype'), 
	   url('../fonts/myriad/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad';
  src: url('../fonts/myriad/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/myriad/MyriadPro-Bold.otf')  format('opentype'),
	   url('../fonts/myriad/MyriadPro-Bold.woff') format('woff'), 
       url('../fonts/myriad/MyriadPro-Bold.ttf')  format('truetype'), 
       url('../fonts/myriad/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
