*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li{
	margin: 0;
	padding: 0;	
}
ul, ol{
	list-style: none;
}
li{
	vertical-align: top;
}
img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.mp{
	margin: 0;
}
.pm{
	margin: 0;
}
.hides{
	display: none;
}
.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
}
.navbar-static-top{
	border: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #999;
    background-color: transparent;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	text-shadow: none;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #999;
    background-color: transparent;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	text-shadow: none;
}
.navbar-default .navbar-nav>li>a{
    color: #ccc;
    background-color: transparent;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	text-shadow: none;	
}
ul.navbar-nav{
	text-align: center;
	float: none;
}
.navbar-nav>li {
    float: none;
	display: inline-block;
	border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;		
}
.navbar-nav>li.active{
	border-bottom: 3px solid #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;		
}
.navbar-nav>li:hover{
	border-bottom: 3px solid #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;		
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    box-shadow: none;
	border: 0;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-nav {
    margin: 0;
}
.navbar{
	margin-bottom: 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav>li>a {
    padding: 0 0 0 0;
}
.navbar {
    min-height: 0px;
    margin-bottom: 0;
    border: 0px solid transparent;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    min-height: 0px;
}
/*
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav>li>a {
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}*/
