@import "fonts.css";
@import "main.css";

*{
	outline: none;
	margin: 0;
	padding: 0;
}
html,
body {
    height: 100%;
}

#header{
	position: relative;
/*	height: 607px;*/
}
#header.active{	 
	position: relative;
	z-index: 1;
}
.menu_default{
	position: relative;
	z-index: 10;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}
.blc_top{
	position: absolute;
	width: 100%;
	z-index: 1;
}
.blc_top ul.mn{
	text-align: center;
	width: 100%;
}
.blc_top ul.mn > li{
	text-align: center;
	display: inline-block;
	margin: 0 -4px 0 0;
	width: 33%;
}
.blc_top ul.mn > li:first-child{
	text-align: left;
}
.blc_top ul.mn > li:last-child{
	text-align: right;
}
.logo{
	margin: 25px 0 0;
	position: relative;
}
.blc_menu_btn{
	margin: 49px 0 0;
	position: relative;
	cursor: pointer;
	width: 60px;
	height: 23px;
}
.blc_menu_btn span{
	font-family: 'Myriad';
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 30px;	
	height: 30px;
	cursor: pointer;
	position: relative;
	padding-left: 43px;
	z-index: 10;
}
.blc_menu_btn span:before{
	content: "";
	background: url('../images/sp_menu.png') no-repeat 0 0;
	width: 20px;
	height: 17px;
	display: block;
	position: absolute;
	left: 0;
	top: 7px;
}
.blc_menu_btn span:hover:before{
	background-position: 0 -20px ;
}
.blc_menu_btn i{
    position: absolute;
    left: 0px;
    display: block;
    width: 20px;
    height: 3px;
    margin: 0;
    background: #fff;
    transition: -webkit-transform .3s,background .3s;
    transition: transform .3s,background .3s;	
}
.blc_menu_btn i:first-child{
	top: 3px;
}
.blc_menu_btn:hover i:first-child{
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
.blc_menu_btn i:nth-child(2){
	top: 10px;
}
.blc_menu_btn i:nth-child(3){
	top: 17px;
}
.blc_menu_btn:hover i:nth-child(3){
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}
.blc_menu_btn:hover i{
	background: #000;
}
.blc_menu_btn b{
    position: absolute;
    top: 4px;
    left: 41px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	font-family: 'Myriad';
	font-weight: normal;
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	cursor: pointer;
	z-index: 10;	
}


.blc_lang{
	margin: 53px 0 0;
	position: relative;
}
.blc_top ul.mn > li ul.lang li{
	display: inline-block;
	margin: 0 0 0 0;
	color: #fff;
}
.blc_top ul.mn > li ul.lang li:nth-child(2){
	margin: 1px 0 0;
}
.blc_top ul.mn > li ul.lang li a{
	color: #fff;
	font-family: 'Myriad';
	font-size: 14px;
	line-height: 14px;	
	text-decoration: none;
}
.blc_top ul.mn > li ul.lang li.active a{
	color: #07131a;
	font-family: 'Myriad';
	font-size: 14px;
	line-height: 14px;	
}
.blc_big_menu{
	width: 100%;
	height: 607px;
	bottom: 0;
	top: 0px;
	position: absolute;
	z-index: 100;
	display: none;
}
.big_menu{
/*
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
*/
/*	display: none;*/
	height: 607px;
	width: 100%;
	background: #fff;
	z-index: 1000;
}
.big_show{
/*	display: none;*/
}

.big_show_top{
	width: 100%;
	background: #fff;
	z-index: 10000;	
	height: 125px;
	position: relative;
}
.big_show_top .brdh {
    background: #7c94b4;
    width: 100%;
    height: 1px;
    margin: 124px 0 0;
}
.big_show_bottom{
	width: 100%;
	background: #fff;
	z-index: 10000;	
	position: relative;
}
.big_show_bottom ul.mst {
    padding: 125px 0;
}
.blc_close{
	margin: 49px 0 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;	
}
.blc_close span.cls_img {
    font-family: 'Myriad';
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 30px;
	height: 30px;
    cursor: pointer;
    position: relative;
    padding-left: 43px;
    z-index: 10000;
	cursor: pointer;
	top: 5px;
    padding: 0 0 0 40px;
}
.blc_close span.cls_img:before {
    content: "";
    background: url('../images/sp_close.png') no-repeat 0 0;
	width: 22px;
	height: 21px;
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
	display: none;
}
.blc_close span.cls{
    font-size: 40px;
    line-height: 40px;
    position: absolute;
	color: #2a2a2a;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;	
}
.blc_close:hover span.cls{
	color: #eb4325;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;	
}
/*
.blc_close span:hover:before {
	background-position: 0 -24px;
}
*/
.big_show .blc_top ul.mn > li ul.lang li.active a {
    color: #eb4325;
}
.big_show .blc_top ul.mn > li ul.lang li a {
    color: #000;
}
.big_show .blc_top ul.mn > li ul.lang li {
    color: #000;
}

.main_cnt{
	position: absolute;
    top: 290px;
    bottom: auto;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
}
.main_cnt.values{
	position: absolute;
	left: -112px;
	right: 0;
	margin: auto;
	text-align: center;
	width: 675px;
	height: 420px;	
	top: 240px;
}
.main_cnt.assets{
	position: absolute;
	left: 430px;
	right: 0;
	margin: auto;
	text-align: center;
	width: 475px;
	height: 420px;	
	top: 240px;
}
.main_cnt.mission{
	position: absolute;
	left: 470px;
	right: 0;
	margin: auto;
	text-align: center;
	width: 520px;
	height: 195px;
	top: 240px;
}

.main_cnt h1{
	font-family: 'Myriad';
	font-weight: bold;
	color: #fff;
	font-size: 133px;
	line-height: 90px;
	text-transform: uppercase;
}
.values ul{
	width: 250px;
	margin: 50px -48px 0 auto;
}
.values ul li{
	text-align: left;
	position: relative;
	margin: 0 0 25px;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 71px;
	color: #fff;
}
.values ul li:before{
	content: "";
	position: absolute;
	background: #fff;
	width: 71px;
	height: 71px;
	border-radius: 100%;
	left: -115px;
}

.assets dl{
	margin: 45px 0 0;
}
.assets dl dt{
	text-align: left;
	position: relative;
	margin: 0 0 0px;
	font-family: 'Arial';
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	float: left;
	width: 205px;
	font-weight: normal;
}
.assets dl dd{
	text-align: left;
	position: relative;
	margin: 0 0 25px;
	font-family: 'Arial';
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	margin-left: 265px;
}
.mission h1{
	margin: 0 0 30px;
}
.mission p{
	font-family: 'Arial';
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	text-align: left;
	margin: 0 0 20px;
}
.big_menu .brdh{
	background: #7c94b4;
	width: 100%;
	height: 1px;
	margin: 125px 0 0;
}
.big_menu ul.mst{
	padding: 125px 0 0;
}

.bg_main{
	background: url('../images/bg_main.jpg') no-repeat 100% 30%;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: static;
    background-size: cover;
}
.bg_main.active{
	z-index: 5;
}
/*#wrapper.blur, .bg_main.blur{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}*/
.all_footer{
	display: none;
}
.all_footer.active{
	display: block;
}
.bg_gray{
	background: #e9e9e9;
	padding: 135px 0;
	position: relative;
}
ul.mst{
	text-align: center;
}
ul.mst > li{
	display: inline-block;
	margin: 0 -4px 0 0;
	width: 25%;
	text-align: left;
}
ul.mst > li ul{}
ul.mst > li ul li{
	display: block;
	width: 100%;
	margin: 0 0 25px;
}
ul.mst > li ul li:last-child{
	margin-bottom: 0;
}
ul.mst > li ul li h4{
	margin: 0 0 50px;
	font-family: 'Myriad';	
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
}
ul.mst a{
	font-family: 'Myriad';
	display: block;
	width: 80%;
	color: #737373;
	font-size: 14px;
	line-height: 14px;
	text-decoration: none;
	position: relative;
	text-align: left;
}
ul.mst a:hover{
	display: block;
	color: #000;
	font-size: 14px;
	line-height: 14px;
	text-decoration: none;
}
ul.mst a:after{
   display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #eb4325;
     -webkit-transition: width .3s ease-in-out;
     -moz-transition: width .3s ease-in-out;
     -o-transition: width .3s ease-in-out;
     transition: width .3s ease-in-out;	
}
ul.mst a:hover:after{
	width: 100%;
}
.blc_mline{
	width: 100%;
	height: 55px;
	background: #fff;
	position: relative;
}

ul.bullets{
	position: absolute;
	bottom: 80px;
	left: 0;
	right 0;
    text-align: center;
    width: 100%;
}
ul.bullets li{
	display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: transparent;
    margin: 0 2px 0;
    border: 1px solid #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;	
}
ul.bullets li:last--child{
	margin-right: 0;
}
ul.bullets li.active{
	background: #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;	
}
.btm_arrow{
	width: 41px;
	height: 41px;
	position: absolute;
	bottom: 20px;
	margin: auto;
	right: 0;
	left: 0;
	cursor: pointer;
}
#footer {
    margin: 0;
	padding: 0;
    height: 285px;
    background-color: #fff;
    position: relative;
}
.footer_logos {
    margin: 65px 0 0;
}
.footer_logos .logos {
    display: table;
    text-align: center;
    width: 100%;
}
.footer_logos .logos li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.footer_logos .logos li .bl {
    display: block;
    margin: auto;
}
.footer_logos .logos li .blg1{
    display: block;
    background: url('../images/sp1.png') no-repeat;
    background-position: 0 0;
	width: 96px;
	height: 40px;
}
.footer_logos .logos li .blg1:hover{
    background-position: 0 -43px ;
}
.footer_logos .logos li .blg2 {
    display: block;
    background: url('../images/sp2.png') no-repeat;
    background-position: 0 0;
	width: 110px;
	height: 39px;
}
.footer_logos .logos li .blg2:hover{
    background-position: 0 -42px ;
}
.footer_logos .logos li .blg3 {
    display: block;
    background: url('../images/sp3.png') no-repeat;
    background-position: 0 0;
	width: 95px;
	height: 17px;
}
.footer_logos .logos li .blg3:hover{
    background-position: 0 -20px ;
}
.footer_logos .logos li .blg4 {
    display: block;
    background: url('../images/sp4.png') no-repeat;
    background-position: 0 0;
	width: 104px;
	height: 52px;
}
.footer_logos .logos li .blg4:hover{
    background-position: 0 -55px ;
}
.footer_logos .logos li .blg5 {
    display: block;
    background: url('../images/sp5.png') no-repeat;
    background-position: 0 0;
	width: 146px;
	height: 18px;
}
.footer_logos .logos li .blg5:hover{
    background-position: 0 -21px ;
}
.footer_logos .logos li .blg6{
    display: block;
    background: url('../images/sp6.png') no-repeat;
    background-position: 0 0;
	width: 94px;
	height: 17px;
}
.footer_logos .logos li .blg6:hover {
    background-position: 0 -20px ;
}
.footer_logos .logos li .blg7{
    display: block;
    background: url('../images/sp7.png') no-repeat;
    background-position: 0 0;
	width: 145px;
	height: 41px;
}
.footer_logos .logos li .blg7:hover {
    background-position: 0 -44px ;
}
.blc_safmar {
    text-align: center;
}
.bg_ftr {
    background: url('../images/bg_footer.jpg') no-repeat 100% 100%;
    width: 100%;
    height: 53px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@media (min-width: 768px){
	.col-xs-15 {
		width: 20%;
		float:left;
		position: relative;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 1050px;
	}
}
@media (max-width: 1450px){
	.main_cnt.values {
		left: -108px;
		top: 195px;
	}		
	.main_cnt.assets, .main_cnt.mission {
		left: 250px;
		top: 195px;
	}	
}
@media (max-width: 1350px){
	.bg_main {
		background: url('../images/bg_main.jpg') no-repeat 50% 50%;
		min-width: 100%;
		height: 100%;
		z-index: -1;
		position: static;
		background-size: inherit;
	}	
	.main_cnt h1 {
		font-size: 120px;
	}	
	.mission h1 {
		margin: 0 0 30px -40px;
	}
	.main_cnt.values {
		left: -108px;
		top: 175px;
	}	
	.values ul li {
		margin: 0 0 20px;
		font-size: 14px;
		line-height: 51px;
	}	
	.values ul li:before {
		width: 51px;
		height: 51px;
		left: -106px;
	}	
	.main_cnt.assets, .main_cnt.mission {
		left: 430px;
		top: 175px;
	}	
}
@media (max-width: 1200px){
	
}
@media (max-width: 1080px){}
@media (max-width: 1024px){}
@media (max-width: 768px){}
@media (max-width: 736px){}
@media (max-width: 667px){}
@media (max-width: 600px){}
@media (max-width: 568px){}
@media (max-width: 414px){}
@media (max-width: 384px){}
@media (max-width: 375px){}
@media (max-width: 320px){}


















