*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li{
	margin: 0;
	padding: 0;	
}
ul, ol{
	list-style: none;
}
li{
	vertical-align: top;
}
img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.mp{
	margin: 0;
}
.pm{
	margin: 0;
}
.hides{
	display: none;
}
.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
}
.navbar-static-top{
	border: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: transparent;
  font-family: 'MyriadPro';
  font-weight: normal;
  font-size: 14px;
  text-shadow: none;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background-color: transparent;
  font-family: 'MyriadPro';
  font-weight: normal;
  font-size: 14px;
  text-shadow: none;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
  background-color: transparent;
  font-family: 'MyriadPro';
  font-weight: normal;
  font-size: 14px;
  line-height: 71px;
  text-shadow: none;	
	width: 204px;
/*  padding: 0 64px;*/
}
ul.navbar-nav{
	text-align: left;
	float: none;
}
.navbar-nav>li {
	text-align: center;
  float: none;
  display: inline-block;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;		
}
.navbar-nav>li.active{
  border-bottom: 3px solid #00c969;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;		
}
.navbar-nav>li:hover{
  border-bottom: 3px solid #00c969;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;		
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
  border: 0;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-nav {
    margin: 0;
}
.navbar{
	margin-bottom: 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav>li>a {
    padding: 0 0 0 0;
}
.navbar {
    min-height: 0px;
    margin-bottom: 0;
    border: 0px solid transparent;
}
h2{
	font-family: 'Avenir';
	font-weight: 100;
	color: #000;
	font-size: 45px;
	line-height: 45px;
}
h5 {
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
h6{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 18px;
	color: #000;
}
p{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 17px;
	color: #7c7c7c;	
}
li{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 17px;
	color: #7c7c7c;		
}
/*
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav>li>a {
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}*/
