@import "fonts.css";
@import "main.css";
*{
	outline: none;
	margin: 0;
	padding: 0;
}
html,
body {
/* 	height: 100%;*/
}
#header{
	width: 100%;
	height: 493px;
	position: relative;
}
.bg_main{
	background: url('../images/bg_main.jpg') no-repeat 50% 0;
}
.bg_services{
	background: url('../images/bg_services.jpg') no-repeat 50% 0;
}
.bg_partners{
	background: url('../images/bg_partners.jpg') no-repeat 50% 0;
}
.bg_contacts{
	background: url('../images/bg_contacts.jpg') no-repeat 50% 0;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -285px;
	padding: 0 0 285px;
}
.logo{
	margin: 25px 0 0 -50px;
}
.container_pad{
	padding-left: 50px;
}
*, :after, :before{
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.offset{
	margin: -74px 0 0;
}
.bg_menu.top_fixed_menu{
	position: fixed;
	top:0;
	margin: 0;
	z-index: 20;
}
.blc_bg_menu{
	width: 100%;
	min-height: 74px;
	background: rgba(0,0,0, 0.74);
	margin:0;
	position: absolute;
	top: 419px;
	z-index: 90;
}
.blc_bg_menu:before, .blc_bg_menu:after{
	display: table;
    content: " ";
}
.blc_bg_menu:after{
	clear: both;
}
.top_fixed_menu{
	width: 100%;
	min-height: 74px;
	background: rgba(0,0,0, 0.74);
	margin:0;
	position: fixed;
	top: 0;
	z-index: 100;
}
.progress_bar {
    position: fixed;
}
.logo_fix{
	float: left;
	margin: 20px 0 0 -52px;	
	display: none;
}
.logo_fix.active{
	display: block;
}
.pensioner_admin{
	margin: 187px 0 0;
}
.pensioner_admin h2{
	margin: 0 0 50px;
}
.pensioner_admin h6{
	margin: 0 0 25px;
}
.pensioner_admin h6.hd{
	display: none;
}
.pensioner_admin p{
	width: 90%;
}
.pensioner_admin_circle_main{
	margin: 90px 0 0;
}
ul.number_participants{
	overflow: hidden;
	margin: 75px 0 0 0;
	text-align: center;
}
ul.number_participants li{
	display: inline-block;
	text-align: left;
}
ul.number_participants li p{
	color: #000;
}
ul.number_participants li p span{
	color: #c6c6c6;
}
ul.number_participants li p.number{
	font-size: 24px;
	line-height: 24px;
}
ul.number_participants li .crc{
	border: 14px solid #00c969;
	border-radius: 100%;
	margin: 35px 0 0;
}
ul.number_participants li:first-child{
	width: 195px;
	margin: 0 30px 0 0;
}
ul.number_participants li:first-child .desc{
	margin: 101px 0 0 0;
}
ul.number_participants li:first-child .crc{
	width: 94px;
	height: 94px;
}
ul.number_participants li:nth-child(2){
	width: 255px;
	margin: 0 80px 0 0;
}
ul.number_participants li:nth-child(2) .desc{
	margin: 37px 0 0;
}
ul.number_participants li:nth-child(2) .crc{
	width: 220px;
	height: 220px;
}
ul.number_participants li:last-child{
	width: 310px;
}
ul.number_participants li:last-child .crc{
	width: 293px;
	height: 293px;
}
.pensioner_admin_folder_main{
	margin: 95px 0 0;
}
.pensioner_admin_folder_main ul{
	text-align: center;
	margin: 178px 0 0;  
}
.pensioner_admin_folder_main ul li{
	display: inline-block;
	width: 25%;
	margin: 0 -4px 0 0;
	text-align: left;
}
.pensioner_admin_folder_main ul li .desc{
	position: relative;
}
/*
.pensioner_admin_folder_main ul li .desc:before{
	content: "";
	position: absolute;
	background: url('../images/sp_folder.png') no-repeat 0 -95px;
	width: 72px;
	height: 92px; 
	top: -130px;
	left: 0;  
}
*/
.pensioner_admin_folder_main ul li .desc:hover:before{
	background-position: 0 0; 
}
.pensioner_admin_folder_main ul li .desc a{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
	position: relative;
	padding: 42px 0 0;
}
.pensioner_admin_folder_main ul li .desc a:before{
	content: "";
	position: absolute;
	background: url('../images/sp_folder.png') no-repeat 0 -95px;
	width: 72px;
	height: 92px; 
	top: -88px;
	left: 0;  
}
.pensioner_admin_folder_main ul li a:hover:before{
	background-position: 0 0; 
}


.pensioner_admin_folder_main ul li .desc a.hd{
	display: none;
}
.bg_gray{
	margin: 105px 0 0;
	background: #f5f5f5;
	padding: 95px 0 85px;
}
.bg_gray ul.cnt{
	text-align: center;
	margin: 65px 0 0;	
}
.bg_gray ul.cnt li{
	display: inline-block;
	margin: 0 -4px 0 0;
	width: 25%;
}
.bg_gray ul.cnt li a{
	text-decoration: none;
}
.bg_gray ul.cnt li .desc{
	position: relative;
}
.bg_gray ul.cnt li:first-child .desc:before{
	content: "";
	background: url('../images/sp_icons.png') no-repeat 0 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:first-child .desc:hover:before{
	background-position: 0 -47px;	
}
.bg_gray ul.cnt li:nth-child(2) .desc:before{
	content: "";
	background: url('../images/sp_icons.png') no-repeat -54px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:nth-child(2) .desc:hover:before{
	background-position: -54px -47px;	
}
.bg_gray ul.cnt li:nth-child(3) .desc:before{
	content: "";
	background: url('../images/sp_icons.png') no-repeat -108px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:nth-child(3) .desc:hover:before{
	background-position: -108px -47px;	
}
.bg_gray ul.cnt li:last-child .desc:before{
	content: "";
	background: url('../images/sp_icons.png') no-repeat -162px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:last-child .desc:hover:before{
	background-position:  -162px -47px;	
}
.double_tabs{
	margin: 95px 0 0;
}
/*.hor_tabs_fix{
 position: fixed;
 left: 0;
 right: 0;
 margin: auto;
}*/
.hor_tabs{
	text-align: center;
}
.hor_tabs_fix{
	background: rgba(255,255,255, 0.9);
	width: 100%;
	padding: 30px 0;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
	z-index: 10;
}
.hor_tabs.fixed{
    position: fixed;
    top: 74px;
    margin: 0;
    z-index: 9;
	background: #fff;
	padding: 30px 0;
}
.hor_tabs li{
	display: inline-block;
	margin: 0 30px;	
	position: relative;
	cursor: pointer;
}
.hor_tabs li:first-child{
	margin-left: 0;
}
.hor_tabs li:last-child{
	margin-right: 0;
}
.hor_tabs li:after{
	content: '';
	background: #d1d1d1;
	border: 3px solid #d1d1d1;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	display: block;
    margin: 20px auto 0;
}
.hor_tabs li.active:after{
	content: '';
	background: #d1d1d1;
	border: 3px solid #07c96d;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	display: block;
    margin: 20px auto 0;
}
.hor_tabs li.active:first-child:after{
	background: #07c96d;
}
.hor_tabs li.active:last-child:after, .hor_tabs li:last-child:after{
    margin: 38px auto 0;
}
.hor_tabs li h5{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 18px;
	color: #000;	
}
.hor_tabs li h5.hd{
	display: none;
}
.ver_tabs{
	margin: 80px 0 0;
}
.ver_tabs li{
	position: relative;
	margin: 0 0 75px;
}
.ver_tabs li h5{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 16px;
	color: #000;
	margin: 0 0 25px;
	cursor: pointer;
}
.ver_tabs li h5, .ver_tabs li .desc{
	padding: 0 0 0 110px;
}
.ver_tabs li .desc{
/*	display: none;*/
}
.ver_tabs li h5, .ver_tabs li .desc p{
	line-height: 18px;
}
.ver_tabs li .desc p span{
	margin: 0 35px 0 0;
}
.ver_tabs li .desc .desc_txt:before, .ver_tabs li .desc .desc_txt:after{
    display: table;
    content: " ";		
}
.ver_tabs li .desc .desc_txt:after{
	    clear: both;
}
.ver_tabs li .desc .desc_txt span{
	float: left;
	margin: 0 -24px 0 0;
}
.ver_tabs li .desc .desc_txt p{
	float: left;
	margin: 0 0 0 60px;
}
.ver_tabs li .direction{
	position: absolute;
	top: -15px;
	left: 0;
	background: url('../images/sp_tabs.png') no-repeat 0 0;
	width: 51px;
	height: 51px;	
	cursor: pointer;
}
.ver_tabs li .direction.active{
	background-position: 0 -54px;	
}
.part{
	text-align: center;
}
.part li{
	display: inline-block;
	margin: 0 56px;
	cursor: pointer;
}
.part li:first-child{
	margin-left: 0;
}
.part li:last-child{
	margin-right: 0;
}
.part li h5.hd{
	display: none;
}
.part li:after {
    content: '';
    background: #d1d1d1;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: block;
    margin: 38px auto 0;
}
.part li:nth-child(3):after{
	margin: 20px auto 0;
}
.part li.active:nth-child(3):after{
	margin: 20px auto 0;
}
.part li.active:after {
    content: '';
    background: #07c96d;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: block;
    margin: 38px auto 0;
}
.tabs_partners{
	margin: 0 0 35px;
}
.part {}
.part li {
	float: left;
	display: inline;
	position: relative;
}
.tabs__content {
	display: none;
}
.tabs__content.active {
	display: block;
	height: auto;
}
.funded_pension{
	margin: 110px 0 0;
}
ul.all_pack{}
ul.all_pack li{
    float: left;
}
ul.all_pack > li:first-child{
	width: 75%;
}
ul.all_pack li:first-child ul.fun li{
	width: 100%;
	border-bottom: 1px solid #00c969;
}
ul.all_pack li:first-child ul.charter li{
	width: 25%;
	border: 0;
    display: inline-block;
    margin: 0 -4px 0 0;
    text-align: left;	
}
ul.all_pack > li:last-child{
	width: 25%;	
}
ul.all_pack li:last-child ul.fun li{
	width: 100%;	
	border-bottom: 1px solid #d1d1d1;
}
ul.all_pack li:last-child ul.charter li{
	width: 100%;	
	border-bottom: 0;
    display: inline-block;
    width: 100%;
    margin: 0 -4px 0 0;
    text-align: left;	
}
.tc1 ul.number_participants li:first-child .desc {
    margin: 122px 0 0 0;
	margin: 80px 0 0 0;
}
.tc1 ul.number_participants li:first-child .crc {
    width: 64px;
    height: 64px;
	margin: 77px 0 0;
}
.tc1 ul.number_participants li:nth-child(2) .desc {
    margin: 52px 0 0;
	margin: 30px 0 0;
}
.tc1 ul.number_participants li:nth-child(2) .crc {
    width: 204px;
    height: 204px;
	margin: 57px 0 0;
}
.tc1 ul.number_participants li:last-child .crc {
    width: 308px;
    height: 308px;
}
.tc2 ul.number_participants li:first-child .desc {
    margin: 80px 0 0 0;
}
.tc2 ul.number_participants li:first-child  .crc{
	margin: 64px 0 0;
}
.tc2 ul.number_participants li:nth-child(2)  .crc{
	margin: 53px 0 0;
}
.tc2 ul.number_participants li:nth-child(2) .desc {
    margin: 30px 0 0;
}
.tc2 ul.number_participants li:last-child .crc {
    width: 254px;
    height: 254px;
	margin: 64px 0 0;
}
.tc3 ul.number_participants li:first-child .desc {
    margin: 64px 0 0 0;
	margin: 80px 0 0 0;
}
.tc3 ul.number_participants li:first-child .crc {
    width: 64px;
    height: 64px;
	margin: 77px 0 0;
}
.tc3 ul.number_participants li:nth-child(2) .desc {
    margin: 22px 0 0;
	margin: 30px 0 0;
}
.tc3 ul.number_participants li:nth-child(2) .crc {
    width: 148px;
    height: 148px;
	margin: 84px 0 0;
}
.tc3 ul.number_participants li:last-child .crc {
    width: 192px;
    height: 192px;
	margin: 84px 0 0;
}
ul.fun{}
ul.fun li{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 16px;
	color: #000;
	padding: 0 0 20px;	
	float: left;
	width: 75%;
	border-bottom: 1px solid #00c969;
}
ul.fun li:last-child{
	float: left;
	width: 25%;
	border-bottom: 1px solid #d1d1d1;
}
.funded_pension ul.charter {
    text-align: center;
    margin: 185px 0 0;
}
.funded_pension ul.charter li {

}
.funded_pension ul.charter li .desc {
    position: relative;
}
.funded_pension ul.charter li .desc:before {
    content: "";
    position: absolute;
    background: url('../images/sp_folder.png') no-repeat 0 -95px;
    width: 72px;
    height: 92px;
    top: -130px;
    left: 0;
}
.funded_pension ul.charter li .desc:hover:before {
    background-position: 0 0;
}
.funded_pension ul.charter li .desc a {
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
}
.funded_pension ul.charter li .desc a.hd {
    display: none;
}
.pensioner_contact .hd{
	display: none;
}
.pensioner_contact{
	margin: 187px 0;
}
.pensioner_contact h5{
	margin: 55px 0 30px;
}
.pensioner_contact ul.cnt {
	text-align: center;
	margin: 15px 0 0;
	float: right;
	width: 85%;	
}
.pensioner_contact ul.cnt li {
	display: inline-block;
	margin: 0 -4px 86px 0;
	width: 50%;
	text-align: left;
}
.pensioner_contact ul.cnt li:nth-child(3), .pensioner_contact ul.cnt li:last-child{
	margin-bottom: 0;
}
.pensioner_contact ul.cnt li .desc {
    position: relative;
	padding-left: 65px;
}
.pensioner_contact ul.cnt li:first-child .desc:before {
    content: "";
    background: url('../images/sp_icons.png') no-repeat -54px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -12px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li .desc p.green {
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 18px;
    color: #54d28c;
    margin: 0 0 20px;
}
.pensioner_contact ul.cnt li .desc p {
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 17px;
    color: #7c7c7c;
}
.pensioner_contact ul.cnt li:first-child .desc:hover:before {
    background-position: -54px -47px;
}
.pensioner_contact ul.cnt li:nth-child(2) .desc:before {
    content: "";
    background: url('../images/sp_icons.png') no-repeat -162px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -12px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li:nth-child(2) .desc:hover:before {
    background-position: -162px -47px;
}
.pensioner_contact ul.cnt li:nth-child(3) .desc:before {
    content: "";
    background: url('../images/sp_icons.png') no-repeat 0 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -12px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li:nth-child(3) .desc:hover:before {
    background-position: 0 -47px;
}
.pensioner_contact ul.cnt li:last-child .desc:before {
    content: "";
    background: url('../images/sp_icons.png') no-repeat -108px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -12px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li:last-child .desc:hover:before {
    background-position: -108px -47px;
}
.pensioner_contact ul.cnt li .desc a {
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #545454;
    text-decoration: none;
}
.bg_gray ul.cnt li .desc p.hd {
    display: none;
}
.product_details_map{
	margin: 0 0 -105px;
}
#map10 {
    width: 100%;
    height: 655px;
}
.bg_gray ul.cnt li .desc p.green{
	font-family: 'MyriadPro';
	font-size: 18px;
	line-height: 18px;
	color: #54d28c;
	margin: 0 0 20px;
}
.bg_gray ul.cnt li .desc p{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 18px;
	color: #545454;
}
.bg_gray ul.cnt li .desc p.hd{
	display: none;
}
.bg_gray ul.cnt li .desc a{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 18px;
	color: #545454;
	text-decoration: none;
}
#footer {
	margin: 55px 0 0;
	height: 285px;
	background-color: #fff;
	position: relative;
}
.blc_safmar{
	text-align: center;
}
.footer_logos{
	margin: 65px 0 0;	
}
.footer_logos .logos{
	display: table;
	text-align: center;
	width: 100%;	
}
.footer_logos .logos li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.footer_logos .logos li .bl {
    display: block;
    margin: auto;
}
.footer_logos .logos li .blg1 {
  display: block;
  background: url('../images/f1.png') no-repeat;
  background-position: 0 -26px;
  width: 158px;
  height: 23px;
}
.footer_logos .logos li .blg1:hover {
	background-position: 0 0;
}
.footer_logos .logos li .blg2 {
  display: block;
  background: url('../images/f2.png') no-repeat;
  background-position: 0 -53px;
  width: 124px;
  height: 50px;
}
.footer_logos .logos li .blg2:hover {
	background-position: 0 0;
}
.footer_logos .logos li .blg3 {
	display: block;
    background: url('../images/f3.png') no-repeat;
	background-position: 0 -34px;
	width: 128px;
	height: 31px;
}
.footer_logos .logos li .blg3:hover {
	background-position: 0 0;
}
.footer_logos .logos li .blg4 {
	display: block;
    background: url('../images/f4.png') no-repeat;
	background-position: 0 -32px;
	width: 196px;
	height: 29px;
}
.footer_logos .logos li .blg4:hover {
	background-position: 0 0;
}
.footer_logos .logos li .blg5 {
	display: block;
    background: url('../images/f5.png') no-repeat;
	background-position: 0 -68px;
	width: 65px;
	height: 65px;
}
.footer_logos .logos li .blg5:hover {
	background-position: 0 0;
}
.bg_ftr{
	background: url('../images/bg_footer.jpg') no-repeat 54% 0;
	width: 100%;
	height: 52px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
@media (min-width: 768px){
	.col-xs-15 {
		width: 20%;
		float:left;
		position: relative;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 1070px;
	}
}
@media (max-width: 1440px){}
@media (max-width: 1200px){
	.navbar-default .navbar-nav>li>a, 
	.navbar-default .navbar-nav>li>a:hover, 
	.navbar-default .navbar-nav>li>a:focus {
		width: 184px;
	}
	.hor_tabs li {
		margin: 0 15px;
		height: 108px;
		width: 150px;
	}
	.ver_tabs li h5, .ver_tabs li .desc {
		padding: 0 0 0 95px;
	}
	.ver_tabs li .desc .desc_txt p {
		margin: 0 0 0 50px;
	}
	.part li {
		margin: 0 40px;
	}
	ul.all_pack > li:first-child {
		width: 70%;
	}
	ul.all_pack > li:last-child {
		width: 30%;
	}
	.hor_tabs li:last-child {
		margin-right: 15px;
	}
	.hor_tabs li:first-child {
		margin-left: 15px;
	}	
}
@media (max-width: 1080px){
	.logo {
		margin: 25px 0 0 0px;
	}
	.logo_fix {
		float: left;
		margin: 20px 0 0 -2px;
		display: none;
	}
	.navbar-default .navbar-nav>li>a, 
	.navbar-default .navbar-nav>li>a:hover, 
	.navbar-default .navbar-nav>li>a:focus,
	.top_fixed_menu .navbar-default .navbar-nav>li>a, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:hover, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:focus {
		width: 176px;
	}	
}
@media (max-width: 1024px){}
@media (max-width: 991px){
	.navbar-default .navbar-nav>li>a, 
	.navbar-default .navbar-nav>li>a:hover, 
	.navbar-default .navbar-nav>li>a:focus,
	.top_fixed_menu .navbar-default .navbar-nav>li>a, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:hover, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:focus {
		width: 133px;
	}
	ul.number_participants {
		text-align: left;
	}	
	ul.number_participants li:first-child {
		width: 195px;
		margin: 0 25px 0 0;
	}
	ul.number_participants li:first-child .desc {
		margin: 52px 0 0 0;
	}
	ul.number_participants li:nth-child(2) {
		width: 255px;
		margin: 0 30px 0 0;
	}	
	ul.number_participants li:nth-child(2) .desc {
		margin: 23px 0 0;
	}
	ul.number_participants li:nth-child(2) .crc {
		width: 155px;
		height: 155px;
	}
	ul.number_participants li:last-child {
		width: 200px;
	}
	ul.number_participants li:last-child .crc {
		width: 200px;
		height: 200px;
	}
	.pensioner_admin {
		margin: 60px 0 0;
	}	
	.pensioner_admin_folder_main ul li {
		width: 50%;
		margin: 0 -4px 200px 0;
	}	
	.pensioner_admin_folder_main ul li:last-child, .pensioner_admin_folder_main ul li:nth-last-child(2){
		margin-bottom: 0;
	}
	.bg_gray ul.cnt li {
		margin: 0 -4px 120px 0;
		width: 50%;
	}
	.bg_gray ul.cnt li:last-child, .bg_gray ul.cnt li:nth-last-child(2){
		margin-bottom: 0;
	}
	h2 {
		font-size: 38px;
		line-height: 38px;
	}
	.part li {
		margin: 0 17px;
	}
	ul.all_pack li:first-child ul.charter li {
		width: 50%;
		border: 0;
		display: inline-block;
		margin: 0 -4px 0 0;
		text-align: left;
	}
	ul.all_pack li:first-child ul.charter li {
		width: 50%;
	}	
	ul.all_pack li:first-child ul.charter li:nth-last-child(2), ul.all_pack li:first-child ul.charter li:last-child{
		margin-top: 200px;
	}
	ul.all_pack > li:first-child {
		width: 60%;
	}	
	ul.all_pack > li:last-child {
		width: 40%;
	}	
	.tc1 ul.number_participants li:first-child .desc {
		margin: 0;
	}
	.tc1 ul.number_participants li:first-child .crc {
		width: 64px;
		height: 64px;
	}
	.tc1 ul.number_participants li:nth-child(2) .desc {
		margin: 52px 0 0;
	}
	.tc1 ul.number_participants li:nth-child(2) .crc {
		width: 204px;
		height: 204px;
	}
	.tc1 ul.number_participants li:last-child .crc {
		width: 308px;
		height: 308px;
	}
	.tc2 ul.number_participants li:first-child .desc {
		margin: 0;
	}
	.tc2 ul.number_participants li:nth-child(2) .desc {
		margin: 17px 0 0;
	}
	.tc2 ul.number_participants li:last-child .crc {
		width: 254px;
		height: 254px;
	}
	.tc3 ul.number_participants li:first-child .desc {
		margin: 0;
	}
	.tc3 ul.number_participants li:first-child .crc {
		width: 64px;
		height: 64px;
	}
	.tc3 ul.number_participants li:nth-child(2) .desc {
		margin: 22px 0 0;
	}
	.tc3 ul.number_participants li:nth-child(2) .crc {
		width: 148px;
		height: 148px;
	}
	.tc3 ul.number_participants li:last-child .crc {
		width: 192px;
		height: 192px;
	}
	.tabs__content ul.number_participants {
		text-align: center;
		margin-top: 100px;
	}
	.tabs__content ul.number_participants li{
		width: 100%;
		display: block;
		text-align: center;
		margin: 0 0 45px;
	}
	.tabs__content ul.number_participants li p{
		width: 100%;
	}
	.tabs__content ul.number_participants li .crc{
		margin: 45px auto 0;
	}
	.tabs__content.active {
		height: auto;
	}
	.tc1 ul.number_participants li:first-child .crc, .tc1 ul.number_participants li:nth-child(2) .crc, .tc1  ul.number_participants li:last-child .crc,
	.tc2 ul.number_participants li:first-child .crc, .tc2 ul.number_participants li:nth-child(2) .crc, .tc2 ul.number_participants li:last-child .crc,
	.tc3 ul.number_participants li:first-child .crc, .tc3 ul.number_participants li:nth-child(2) .crc, .tc3 ul.number_participants li:last-child .crc{
		margin: 45px auto 0;
	}	
	.offset {
		margin: -74px 0 140px;
	}	
}
@media (max-width: 850px){
	h2 {
		font-size: 33px;
		line-height: 33px;
	}	
}
@media (max-width: 767px){
	.navbar-toggle {
		margin-right: 0;
		margin-top: 20px;
	}	
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #00c969;
	}	
	ul.navbar-nav {
		text-align: right;
	}	
	.navbar-nav>li {
		display: block;
		text-align: right;
	}
	.navbar-default .navbar-nav>li>a {
		line-height: 40px;
	}
	.navbar-default .navbar-nav>li>a, 
	.navbar-default .navbar-nav>li>a:hover, 
	.navbar-default .navbar-nav>li>a:focus, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:hover, 
	.top_fixed_menu .navbar-default .navbar-nav>li>a:focus {
		width: 100%;
	}
	.logo_fix.active {
		display: none;
	}
	.pensioner_admin {
		margin: 0;
	}	
	h2 {
		font-size: 40px;
		line-height: 40px;
	}
	.top_fixed_menu .logo_fix {
		display: none;
	}
	ul.number_participants {
		text-align: center;
	}	
	ul.number_participants li {
		text-align: center;
	}
	ul.number_participants li:first-child {
		width: 100%;
		margin: 0;
	}	
	ul.number_participants li:first-child .desc {
		margin: 0 auto;
	}
	ul.number_participants li:first-child .crc {
		margin: 25px auto 0;
	}
	ul.number_participants li:nth-child(2) {
		width: 100%;
		margin: 0;
	}
	ul.number_participants li:last-child {
		width: 100%;
	}	
	ul.number_participants li:nth-child(2) .crc {
		margin: 35px auto 0;
		width: 220px;
		height: 220px;		
	}
	ul.number_participants li:last-child .crc {
		width: 293px;
		height: 293px;
		margin: 35px auto 0;
	}	
	ul.number_participants li:nth-child(2) .desc {
		margin: 50px 0 0;
	}
	ul.number_participants li:last-child .desc {
		margin: 50px 0 0;
	}
	.footer_logos .logos li {
		display: block;
		vertical-align: top;
		text-align: center;
		margin: 0 auto 35px;
	}	
	.footer_logos .logos li .bl {
		display: block;
		margin: auto;
	}	
	.bg_ftr {
		background: url('../images/bg_footer.jpg') no-repeat 54% 0;
		position: static;
	}	
	.pensioner_admin h2, .pensioner_contact h2{
		margin: 50px 0 30px;
	}	
	.pensioner_admin .vsh{
		margin-top: 35px;
	}
	.hor_tabs li:first-child {
		margin-left: 15px;
	}
	.hor_tabs li:last-child {
		margin-right: 15px;
	}
	.pensioner_admin p {
		width: auto;
	}
	ul.number_participants {
		margin: 50px 0 0 0;
	}	
	.part {
		margin: 30px 0 0;
	}	
	.part li {
		float: none;
		display: inline-block;
		margin: 0 15px;
		height: 130px;
		width: 135px;
	}
	.part li:first-child {
		margin-left: 15px;
	}
	.part li:last-child {
		margin-right: 15px;
	}
	.pensioner_contact ul.cnt {
		margin: 65px 0 0;
		float: none;
		width: 100%;
	}	
	.pensioner_contact {
		margin: 50px 0;
	}
	.tabs__content ul.number_participants {
		text-align: center;
		margin-top: 20px;
	}	
	.tabs__content ul.number_participants li{
		width: 100%;
		display: block;
		text-align: center;
		margin: 0 0 45px;
	}
	.tabs__content ul.number_participants li p{
		width: 100%;
	}
	.tabs__content ul.number_participants li .crc{
		margin: 20px auto;
	}	
	.offset {
		margin: -74px 0 85px;
	}	
}
@media (max-width: 736px){}
@media (max-width: 675px){	
	ul.all_pack > li:first-child {
		width: 100%;
	}	
	ul.all_pack > li:last-child {
		width: 100%;
		margin-top: 90px;
	}	
}
@media (max-width: 600px){}
@media (max-width: 568px){
	.pensioner_contact ul.cnt {
		margin: 100px 0 0;
	}
	.pensioner_contact ul.cnt li:first-child .desc:before, .pensioner_contact ul.cnt li:nth-child(2) .desc:before,
	.pensioner_contact ul.cnt li:nth-child(3) .desc:before, .pensioner_contact ul.cnt li:last-child .desc:before{
		top: -55px;
		left: 0;
		right: 0;
	}
	.pensioner_contact ul.cnt li .desc {
		position: relative;
		padding-left: 0;
		text-align: center;
	}	
	.pensioner_contact ul.cnt li .desc p.green {
		margin: 0 0 10px;
	}	
	.pensioner_contact ul.cnt li:nth-child(3), .pensioner_contact ul.cnt li:last-child{
		margin-top: 35px;
	}
}
@media (max-width: 484px){
	h2 {
		font-size: 33px;
		line-height: 33px;
	}
	ul.all_pack li:first-child ul.charter li{
		width: 100%;
	}
	ul.all_pack li:first-child ul.charter li:nth-child(2){
		margin-top: 200px;
	}
	.funded_pension ul.charter li .desc a.vs {
		display: none;
	}	
	.funded_pension ul.charter li .desc a.hd {
		display: block;
	}
}
@media (max-width: 414px){
	ul.number_participants li:nth-child(2) .crc {
		width: 155px;
		height: 155px;
	}	
	ul.number_participants li:last-child .crc {
		width: 200px;
		height: 200px;
	}
	.pensioner_admin_folder_main ul {
		margin: 165px 0 0;
	}	
	.pensioner_admin_folder_main ul li .desc:before {
		top: -115px;
	}	
	.pensioner_admin_folder_main ul li {
		width: 100%;
		margin: 0 0px 180px 0;
	}	
	.pensioner_admin_folder_main ul li:nth-last-child(2) {
		margin-bottom: 180px;
	}
	.pensioner_admin_folder_main ul li .desc a.hd {
		display: block;
	}
	.pensioner_admin_folder_main ul li .desc a.vs {
		display: none;
	}
	.bg_gray ul.cnt li {
		margin: 0 0px 120px 0;
		width: 100%;
	}	
	.bg_gray ul.cnt li:nth-last-child(2) {
		margin-bottom: 120px;
	}
	.pensioner_contact ul.cnt li {
		display: inline-block;
		margin: 0 0px 85px 0;
		width: 100%;
		text-align: center;
	}	
	.pensioner_contact ul.cnt li:nth-child(3){
		margin-bottom: 85px;
	}
}
@media (max-width: 384px){
	h2 {
		font-size: 28px;
		line-height: 30px;
	}	
	.tc1 ul.number_participants li:last-child .crc {
		width: 260px;
		height: 260px;
	}	
	
}
@media (max-width: 375px){}
@media (max-width: 320px){
	.bg_ftr {
		background: url('../images/bg_footer.jpg') no-repeat 53% 0;
	}	
}


















