@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/myriadpro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  
	   url('../fonts/myriadpro/MyriadPro-Regular.woff') format('woff'), 
	   url('../fonts/myriadpro/MyriadPro-Regular.ttf')  format('truetype'), 
	   url('../fonts/myriadpro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/avenirnextcyrlight.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/avenir/avenirnextcyrlight.woff') format('woff'), 
  url('../fonts/avenir/avenirnextcyrlight.ttf') format('truetype'), 
  url('../fonts/avenir/avenirnextcyrlight.svg#avenirnextcyrlight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/avenirnextcyrultralight.eot?#iefix') format('embedded-opentype'), 
	   url('../fonts/avenir/avenirnextcyrultralight.woff') format('woff'), 
	   url('../fonts/avenir/avenirnextcyrultralight.ttf')  format('truetype'), 
	   url('../fonts/avenir/avenirnextcyrultralight.svg#avenirnextcyrultralight') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),  
	   url('../fonts/ptsans/PTSans-Regular.woff') format('woff'), 
	   url('../fonts/ptsans/PTSans-Regular.ttf')  format('truetype'), 
	   url('../fonts/ptsans/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}